<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <h4 class="color_titulo center-align">Edición de metas
    <a class="tooltipped" href="" data-position="top" data-delay="50" data-tooltip="Cambiar año" (click)="openModalYear($event)">{{ anio_actual }}</a>
  </h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="../../opciones" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- fin Solo para dispositivos moviles -->

  <div class="row">
    <div class="input-field col s12 m12 l6 xl6">
      <select class="periodo">
        <option value="">SELECCIONE</option>
        <option value="1">ENERO</option>
        <option value="2">FEBRERO</option>
        <option value="3">MARZO</option>
        <option value="4">ABRIL</option>
        <option value="5">MAYO</option>
        <option value="6">JUNIO</option>
        <option value="7">JULIO</option>
        <option value="8">AGOSTO</option>
        <option value="9">SEPTIEMBRE</option>
        <option value="10">OCTUBRE</option>
        <option value="11">NOVIEMBRE</option>
        <option value="12">DICIEMBRE</option>
      </select>
      <label for="periodo">Periodo</label>
    </div>
    <div class="input-field col s12 m12 l5 xl5">
      <select class="linea">
        <option value="">SELECCIONE</option>
        <option value="1">AMUT 1</option>
        <option value="2">AMUT 2</option>
        <option value="3">EXT 1</option>
        <option value="4">EXT 2</option>
        <option value="5">SSP</option>

      </select>
      <label for="linea">Linea</label>
    </div>
    <div class="input-field col s12 m12 l1 xl1">
      <a class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" (click)="busqueda()">
        <i class="material-icons">search</i>
      </a>
      <label></label>
    </div>
  </div>
  <div class="row" *ngIf="!datos_tabla">
    <table id="tabla" class="display" cellspacing="0" width="100%" style="overflow-x:auto;">
      <thead>
        <tr>
          <th class="center-align">Linea</th>
          <th class="center-align">Día</th>
          <th class="center-align">Turno</th>
          <th class="center-align">Grupo</th>
          <th class="center-align">Meta</th>
          <th class="center-align">Valor</th>
          <th class="center-align">Editar</th>
          <th class="center-align">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let asignacion of asignaciones">
          <td class="center-align">{{asignacion.linea}}</td>
          <td class="center-align">{{asignacion.dia}}</td>
          <td class="center-align">{{asignacion.turno}}</td>
          <td class="center-align">{{asignacion.grupo}}</td>
          <td class="center-align">{{asignacion.meta}}</td>
          <td class="center-align">{{asignacion.valor }} T</td>
          <td class="center-align">
            <a class="btn-floating light-green lighten-1" (click)="editar(asignacion)">
              <i class="material-icons">edit</i>
            </a>
            <!-- <a class="btn-floating light-green lighten-1" [routerLink]="asignacion.id_pro_meta">
              <i class="material-icons">edit</i>
            </a> -->
          </td>
          <td class="center-align">
            <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(asignacion,'eliminar')">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="../../opciones" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>