<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <h4 class="color_titulo center-align">Bienvenido a ETAD</h4>
    </div>
  </div>
  <div class="section"></div>
  <div class="row color_titulo">
    <div class="col s12 m12 l4 xl4">
      <div class="card center">
        <div class="card-content kpi">
          <span class="card-title"><b>CUA</b></span>
          <img src="assets/icono_cua.png">
          <p class="center-align">Control único de activos</p>
        </div>
        <div class="card-action">
          <a routerLink="cua/opciones">Ir a opciones</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l4 xl4">
      <div class="card center">
        <div class="card-content">
          <span class="card-title"><b>KPI</b></span>
          <img src="assets/icono_kpi.png">
          <p class="center-align">Indicador de desempeño</p>
        </div>
        <div class="card-action">
          <a routerLink="">Ir a opciones</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l4 xl4">
      <div class="card center">
        <div class="card-content">
          <span class="card-title"><b>ISHIKAWA</b></span>
          <img src="assets/icono_ishi.png">
          <p class="center-align">Método  de Ishikawa</p>
        </div>
        <div class="card-action">
          <a routerLink="">Ir a opciones</a>
        </div>
      </div>
    </div>
  </div>
</div>