<div class="container" *ngIf="!loading">

  <div class="section"></div>
  <h4 class="color_titulo center-align">{{ noVerBtnFallas? 'Consulta y edición de ' : '' }}Fallas</h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align" [hidden]="noVerBtnFallas">
    <a routerLink="../../opciones" class="btn-floating  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <div class="hide-on-large-only right-align" [hidden]="!noVerBtnFallas">
    <a [hidden]="noVerBtnFallas" class="btn-floating  indigo lighten-1 waves-effect waves-light" (click)="modoInicial()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- Solo para dispositivos moviles -->
  <div class="row" [hidden]="noVerBtnFallas">
    <ul class="center-align">
      <li class="col s12 m12 l12 xl12 color_titulo">
        Haga clic en la opcion a realizar
        <hr>
      </li>

    </ul>

    <div class="col s12 m12 l6 xl6 center-align">
      <div class="section"></div>
      <a class="waves-effect waves-light btn-large light-green darken-1" (click)="modoEdicion()">
        <i class="material-icons right">edit</i>Editar</a>
    </div>
    <div class="col s12 m12 l6 xl6 center-align">
      <div class="section"></div>
      <a routerLink="nuevo" class="waves-effect waves-light btn-large light-green darken-1">
        <i class="material-icons right">add</i>Agregar</a>
    </div>
  </div>
  <!-- Fin solo para dispositivos moviles -->
  <div class="row" [hidden]="!noVerBtnFallas">
    <form class="col s12 m12 l12 xl12" [formGroup]="formBusqueda" (ngSubmit)="busqueda(paramsBusqueda)">
      <fieldset>
        <legend class="color_titulo">
          <b>Capture los datos para mostrar registros:</b>
        </legend>
        <div class="row">
          <div class="input-field col s12 m12 l6 xl6">
            <label for="">Fecha inicio</label>
            <input type="text" class="inicio" formControlName="inicio" [(ngModel)]="paramsBusqueda.inicio" (ngModelChange)="changeCombo()">
            <div *ngIf="formBusqueda.controls.inicio.errors?.required && (formBusqueda.controls.inicio?.touched || submitted)" class="error">
              Se requiere fecha inicio
            </div>
          </div>
          <div class="input-field col s12 m12 l6 xl6">
            <label for="">Fecha fin</label>
            <input type="text" class="fin" formControlName="fin" [(ngModel)]="paramsBusqueda.fin" (ngModelChange)="changeCombo()">
            <div *ngIf="formBusqueda.controls.fin.errors?.required && (formBusqueda.controls.fin?.touched || submitted)" class="error">
              Se requiere fecha fin
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l4 xl4">
            <label for="">Linea</label>
            <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="id_linea" [(ngModel)]="paramsBusqueda.id_linea"
              (ngModelChange)="changeCombo()">
              <option value="">SELECCIONE</option>
              <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{ linea.valor }}</option>
            </select>
            <div *ngIf="formBusqueda.controls.id_linea.errors?.required && (formBusqueda.controls.id_linea?.touched || submitted)" class="error">
              Se requiere la linea
            </div>
          </div>
          <div class="col s12 m12 l4 xl4">
            <label for="">Grupo</label>
            <select materialize="material_select" [materializeSelectOptions]="grupos" formControlName="id_grupo" [(ngModel)]="paramsBusqueda.id_grupo"
              (ngModelChange)="changeCombo()">
              <option value="">SELECCIONE</option>
              <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.valor }}</option>
            </select>
            <div *ngIf="formBusqueda.controls.id_grupo.errors?.required && (formBusqueda.controls.id_grupo?.touched || submitted)" class="error">
              Se requiere el grupo
            </div>
          </div>
          <div class="col s12 m12 l3 xl3">
            <label for="">Turno</label>
            <select materialize="material_select" [materializeSelectOptions]="turnos" formControlName="id_turno" [(ngModel)]="paramsBusqueda.id_turno"
              (ngModelChange)="changeCombo()">
              <option value="">SELECCIONE</option>
              <option *ngFor="let turno of turnos" [value]="turno.id">{{ turno.valor }}</option>
            </select>
            <div *ngIf="formBusqueda.controls.id_turno.errors?.required && (formBusqueda.controls.id_turno?.touched || submitted)" class="error">
              Se requiere el turno
            </div>
          </div>
          <div class="input-field col s12 m12 l1 xl1">
            <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
              <i class="material-icons">search</i>
            </button>
            <label></label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="section"></div>
  <div class="row" *ngIf="bVistaPre">
    <div class="row" [@visibility]="status">
      <table id="tabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="center-align">Día</th>
            <th class="center-align">Linea</th>
            <th class="center-align">Grupo</th>
            <th class="center-align">Turno</th>
            <th class="center-align">Fuente del Paro</th>
            <th class="center-align">Razón del Paro</th>
            <th class="center-align">Equipo</th>
            <th class="center-align">Nombre del Equipo</th>
            <th class="center-align">Problema</th>
            <th class="center-align">Hora de inicio</th>
            <th class="center-align">Hora de final</th>
            <th class="center-align">Horas de paro</th>
            <th class="center-align">Editar</th>
            <th class="center-align">Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="fallas.length == 0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>NO HAY FALLAS REGISTRADAS</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let falla of fallas" [class]="falla.id_falla">
            <td class="center-align">{{falla.diaString}}</td>
            <td class="center-align">{{falla.valor_linea}}</td>
            <td class="center-align">{{falla.valor_grupo}}</td>
            <td class="center-align">{{falla.valor_turno}}</td>
            <td class="center-align">{{falla.valor_fuente}}</td>
            <td class="center-align">{{falla.valor_razon}}</td>
            <td class="center-align">{{falla.valor_equipo}}</td>
            <td class="center-align">{{falla.descripcion_equipo}}</td>
            <td class="center-align">{{falla.descripcion}}</td>
            <td class="center-align">{{falla.hora_inicio}}</td>
            <td class="center-align">{{falla.hora_final}}</td>
            <td class="center-align">{{falla.tiempo_paro + ' Hrs'}}</td>
            <td class="center-align">
              <a class="btn-floating light-green lighten-1" (click)="openModalEdicion(falla.id_falla)">
                <i class="material-icons">description</i>
              </a>
            </td>
            <td class="center-align">
              <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(falla,'eliminar')">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" [hidden]="noVerBtnFallas">
      <a routerLink="../../opciones" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" [hidden]="!noVerBtnFallas">
      <a class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top" data-delay="50"
        data-tooltip="Regresar" (click)="modoInicial()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div id="modalEdicion" class="modal" style="width: calc(75%)">
  <div class="modal-content" *ngIf="pintaForm">
    <app-formulario-fallas [id]="fallaSeleccionada" (failUpdate)="refreshDataTable($event)"></app-formulario-fallas>
  </div>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>