<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <h4 class="color_titulo center-align">Consulta de ishikawas
    <a class="tooltipped" href="" data-position="top" data-delay="50" data-tooltip="Cambiar año" (click)="openModalYear($event)">{{ anioSeleccionado }}</a>
  </h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="../" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top" data-delay="50"
      data-tooltip="Regresar" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- fin Solo para dispositivos moviles -->

  <div class="row">
    <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="consultaPeriodo()" autocomplete="off">
      <div class="input-field col s12 m12 l6 xl6">
        <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="idPeriodo"
          (ngModelChange)="changeCombo()">
          <option value="">SELECCIONE</option>
          <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
        </select>
        <label for="mes">mes</label>
        <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
          class="error">
          Seleccione una opcion
        </div>
      </div>
      <div class="input-field col s12 m12 l5 xl5">
        <select materialize="material_select" [materializeSelectOptions]="etads" formControlName="idLinea" [(ngModel)]="idLinea"
          (ngModelChange)="changeCombo()">
          <option value="">SELECCIONE</option>
          <option *ngFor="let etad of etads" [value]="etad.id">{{etad.valor}}</option>
        </select>
        <label for="etad">Área</label>
        <div *ngIf="formConsultaPeriodo.controls.idLinea.errors?.required && (formConsultaPeriodo.controls.idLinea?.touched || submitted)"
          class="error">
          Seleccione una opcion
        </div>
      </div>
      <div class="input-field col s12 m12 l1 xl1">
        <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
          <i class="material-icons">search</i>
        </button>
        <label></label>
      </div>
    </form>
  </div>
  <!-- <div class="row" *ngIf="!estatusPeriodo">
      <div class="color_titulo center-align">
          <span class="waves-effect"><i class="material-icons left">lock</i>Periodo cerrado</span>
      </div>
    </div> -->
  <div class="row scroll_ejex_tabla_reporte" *ngIf="datos_tabla">
    <table id="tabla" class="display striped" cellspacing="0" width="100%" style="overflow-x:auto;" [@visibility]="status">
      <thead>
        <tr>
          <th>Día de registro</th>
          <th>Área etad</th>
          <th>Grupo</th>
          <th>Descripción del problema</th>
          <th *ngIf="permission.editarMeta">Detalle</th>
          <th *ngIf="permission.eliminarMeta">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="recordsIshikawa.length == 0 ">
          <th colspan="6" class="center">No hay registros</th>
        </tr>
        <tr *ngFor="let ishikawa of recordsIshikawa;let i = index">
          <td>{{ ishikawa.fecha_string }}</td>
          <td>{{ ishikawa.etad.valor }}</td>
          <td>{{ ishikawa.grupo.valor }}</td>
          <td>{{ ishikawa.problema }}</td>
          <td>
            <a class="btn-floating green lighten-2" (click)="openModalDetalle(ishikawa)">
              <i class="material-icons">list</i>
            </a>
          </td>
          <td>
            <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(ishikawa,'eliminar')">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="../" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Regresar" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>