<div *ngIf="!loading">
  <div class="container">

    <!-- Solo para dispositivos moviles -->
    <br>
    <div class="hide-on-large-only">
      <div class="row right-align">
        <a routerLink="../../lista-reportes" class="btn-floating  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
          data-delay="50" data-tooltip="Reportes" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
      </div>
    </div>
    <!-- Fin solo para dispositivos moviles -->
    <h4 class="color_titulo center-align">Reporte resumen OEE</h4>
    <div class="section"></div>
    <div class="row">
      <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="busqueda(paramsBusqueda)" autocomplete="off">
        <div class="input-field col s12 m12 l3 xl3">
          <select class="anio" materialize="material_select" [materializeSelectOptions]="anios" formControlName="anio" [(ngModel)]="paramsBusqueda.anio"
            (ngModelChange)="changeCombo('anio')">
            <option value="">SELECCIONE</option>
            <option *ngFor="let anio of anios" [value]="anio.valor">{{anio.valor}}</option>
          </select>
          <label for="anio">año</label>
          <div *ngIf="formConsultaPeriodo.controls.anio.errors?.required && (formConsultaPeriodo.controls.anio?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l3 xl3">
          <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="paramsBusqueda.idPeriodo"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
          </select>
          <label for="mes">mes</label>
          <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l5 xl5">
          <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="idLinea" [(ngModel)]="paramsBusqueda.idLinea"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{linea.descripcion}}</option>
          </select>
          <label for="linea">Linea</label>
          <div *ngIf="formConsultaPeriodo.controls.idLinea.errors?.required && (formConsultaPeriodo.controls.idLinea?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l1 xl1">
          <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
            <i class="material-icons">search</i>
          </button>
          <label></label>
        </div>
      </form>
    </div>
    <!-- Inicio solo para pantallas-->
    <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a routerLink="../../lista-reportes" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Reportes" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
      </div>
    </div>
    <!-- Fin solo para pantallas-->
  </div>
  <div class="section"></div>
  <!-- btn action -->
  <div class="container">
    <div *ngIf="viewReport" class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn horizontal" style="bottom: 110px; right: 24px;">
        <a class="btn-floating btn-large light-green darken-1">
          <i class="large material-icons">font_download</i>
        </a>
        <ul>
          <li>
            <a (click)="exportarTodoToExcel()" class="btn-floating  light-green">
              <i class="material-icons">cloud_download</i>
            </a>
          </li>
          <li>
            <a (click)="printRptPDF()" class="btn-floating  light-green">
              <i class="material-icons">print</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Fin solo para pantallas-->
  </div>
  <!-- fin btn action -->
  <div *ngIf="viewReport">
    <div class="carousel carousel-slider center">
      <div class="carousel-item white" href="#one!">
        <div class="container">
          <div id="chartOee" style="width:100%; height:400px;"></div>
        </div>
      </div>
      <div class="carousel-item white" href="#two!">
        <div class="container">
          <div id="chartDisponibilidad" style="width:100%; height:400px;"></div>
        </div>
      </div>
      <div class="carousel-item white slide_perdidas" href="#three!">
        <div class="container">
          <div id="chartPerdidas" style="width:100%;height:650px;"></div>
        </div>
      </div>
    </div>
    <div class="container center">
      <a href="#" (click)="verTablas($event)">{{ texto_link }}</a>
      <div class="section"></div>
      <div class="row" [hidden]="!(ver_tabla && seccion == 0)">
        <div class="col s12 m12 l12 xl12">
          <table id="tblReporte">
            <tr class="light-green darken-1 texto header">
              <th colspan="2" class="center-align">OEE</th>
              <th class="center-align">Real</th>
            </tr>

            <tr *ngFor="let row of rows" [ngClass]="{'total':row.padre == 1}">
              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.titulo }}</td>
                <td class="center-align">{{ row.hrs| formatDecimal: 3 }}</td>
                <td class="center-align">{{ (row.porcentaje | formatDecimal: 3) + ' % ' }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.titulo }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.hrs }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.porcentaje + ' % '}}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
          <!-- solo si solicita -->
          <a *ngIf="false" class="waves-effect waves-light btn light-green lighten-1" (click)="exportarExcel()">EXPORTAR TABLA A EXCEL</a>
          <!-- fin solo si solicita -->
        </div>
      </div>
      <div class="row" [hidden]="!(ver_tabla && seccion == 1)">
        <div class="col s12 m12 l6 xl6">
          <table id="tblReporteDisponibilidad">
            <tr class="light-green darken-1 texto header">
              <th>Tiempo</th>
              <th class="center-align">Hrs</th>
              <th class="center-align">%</th>
            </tr>

            <tr *ngFor="let row of rowsDisponibilidad" [ngClass]="{'total':row.padre == 1}">

              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.titulo }}</td>
                <td class="center-align">{{ row.hrs }}</td>
                <td class="center-align">{{ (row.porcentaje | formatDecimal: 3) }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.titulo }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.hrs }}</b>
                </td>
                <td class="center-align">
                  <b>{{ (row.porcentaje | formatDecimal: 3 ) }}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
        </div>
        <div class="col s12 m12 l6 xl6">
          <table id="tblReporteProduccion">
            <tr class="light-green darken-1 texto header">
              <th colspan="2">Datos Producción</th>
            </tr>
            <tr *ngFor="let row of rowsProduccion" [ngClass]="{'total':row.padre == 1}">
              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.titulo }}</td>
                <td class="center-align">{{ (row.hrs | formatDecimal: 3) }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.titulo }}</b>
                </td>
                <td class="center-align">
                  <b>{{ (row.hrs| formatDecimal: 3) }}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
        </div>
      </div>
      <!-- Solo si solicita -->
      <div class="row center-align" *ngIf="ver_tabla && seccion == 1">
        <a *ngIf="false" class="waves-effect waves-light btn light-green lighten-1" (click)="exportarExcel()">EXPORTAR TABLA A EXCEL</a>
      </div>
      <!-- Fin solo si solicita -->
      <div class="row" [hidden]="!(ver_tabla && seccion == 2)">
        <div class="col s12 m12 l12 xl12">
          <table id="tblReportePerdidas">
            <tr class="light-green darken-1 texto header">
              <th>Fuentes de pérdida</th>
              <th class="center-align">Hrs</th>
              <th class="center-align">%</th>
            </tr>

            <tr *ngFor="let row of rowsPerdidas" [ngClass]="{'total':row.padre == 1}">
              <ng-template [ngIf]="row.padre == 1">
                  <td>{{ row.fuente }}</td>
                  <td class="center-align">{{ row.hrs }}</td>
                  <td class="center-align">{{ (row.porcentaje  | formatDecimal: 3) + ' % ' }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.fuente }}</td>
                <td class="center-align">{{ row.hrs }}</td>
                <td class="center-align">{{ (row.porcentaje | formatDecimal: 3) + ' % ' }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.fuente }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.hrs }}</b>
                </td>
                <td class="center-align">
                  <b>{{ (row.porcentaje | formatDecimal: 3) + ' % ' }}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
          <!-- solo si solicita -->
          <a *ngIf="false" class="waves-effect waves-light btn light-green lighten-1" (click)="exportarExcel()">EXPORTAR TABLA A EXCEL</a>
          <!-- fin solo si solicita -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="viewReport">
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only">
    <hr>
    <div class="row center-align">
      <a (click)="printRptPDF()"> Ver resumen en pdf</a>
    </div>
    <div class="row  center-align">
      <a (click)="exportarTodoToExcel()"> Exportar resumen a excel</a>
    </div>
  </div>
  <br>
  <!-- Fin solo para dispositivos moviles -->
</div>
<div class="container">
    <img src="" id="grafica">
  </div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>