<div>
  <div class="container" *ngIf="!loading && insertProduccion">
    <div class="col s12 m12 l12 xl12">
      <h4 class="color_titulo center-align">{{ seccion == 'add' ? 'Registro ' : 'Detalle '}} de producción</h4>
      <div class="section"></div>
      <!-- Solo para dispositivos moviles -->

      <div class="hide-on-large-only right-align">
        <a *ngIf="seccion == 'add'" routerLink="../../produccion" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Regresar"
          (click)="regresar()">
          Regresar
        </a>
        <a *ngIf="seccion == 'consulta'" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Regresar" (click)="back()">
          Regresar
        </a>
      </div>
      <br>

      <!-- Fin solo para dispositivos moviles -->
      <form class="col s12 m12 l12 xl12" [formGroup]="formulario" autocomplete="off">
        <fieldset>
          <legend class="color_titulo">
            <b>Datos de producción:</b>
          </legend>
          <div class="section"></div>
          <div class="row">
            <div class="col s12 m12 l3 xl3">
              <label>Línea</label>
              <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="id_linea" [(ngModel)]="meta.id_linea">
                <option value="">SELECCIONE</option>
                <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{ linea.valor }}</option>
              </select>
              <div *ngIf="formulario.controls.id_linea.errors?.required && (formulario.controls.id_linea?.touched || submitted)" class="error">
                Se requiere la linea
              </div>
            </div>
            <div class="col s12 m12 l3 xl3">
              <label>Grupo</label>
              <select materialize="material_select" [materializeSelectOptions]="grupos" formControlName="id_grupo" [(ngModel)]="meta.id_grupo">
                <option value="">SELECCIONE</option>
                <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.valor }}</option>
              </select>
              <div *ngIf="formulario.controls.id_grupo.errors?.required && (formulario.controls.id_grupo?.touched || submitted)" class="error">
                Se requiere el grupo
              </div>
            </div>
            <div class="col s12 m12 l3 xl3">
              <label>Turno</label>
              <select materialize="material_select" [materializeSelectOptions]="turnos" formControlName="id_turno" [(ngModel)]="meta.id_turno">
                <option value="">SELECCIONE</option>
                <option *ngFor="let turno of turnos" [value]="turno.id">{{ turno.valor }}</option>
              </select>
              <div *ngIf="formulario.controls.id_turno.errors?.required && (formulario.controls.id_turno?.touched || submitted)" class="error">
                Se requiere el turno
              </div>
            </div>
            <div class="input-field col s12 m12 l3 xl3">
              <label for="dia">Día</label>
              <input id="dia" type="text" formControlName="diaString" [(ngModel)]="meta.diaString">
              <div *ngIf="formulario.controls.diaString.errors?.required && (formulario.controls.diaString?.touched || submitted)" class="error">
                Se requiere el día
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="section"></div>
      <div class="row" *ngIf="seccion == 'add'">
        <div class="col s12 m12 l12 xl12">
          <ul id="issues-collection" class="collection">
            <li class="collection-item light-green lighten-5">
              <span class="collection-header">
                <b>Productos. </b> Registre la producción en kilogramos</span>
            </li>
            <li class="collection-item asignacion_productos">
              <div class="row" *ngFor="let producto of productos">
                <div class="col s8">
                  <p class="collections-title">
                    <b>{{ '(' + producto.valor + ')' }}&nbsp;&nbsp;</b>{{ producto.descripcion }}</p>
                </div>
                <div class="col s4">
                  <input type="text" placeholder="Escribe aquí" [(ngModel)]="producto.asignacion" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="row right-align">
                <div class="col s8"></div>
                <a class="btn light-green darken-1 waves-effect waves-light btn col s4" (click)="modalQuestionRegistrarProduccion()">Registrar producción</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" *ngIf="seccion == 'consulta'">
        <div class="col s12 m12 l12 xl12">
          <ul id="issues-collection" class="collection">
            <li class="collection-item light-green lighten-5">
              <span class="collection-header">
                <b>Productos. </b> Producción registrada</span>
              <div class="secondary-content">
                <a href="#" (click)="modificarDatos($event)">
                  {{ modificacion ? 'Cancelar' : 'Modificar' }}
                </a>
              </div>
            </li>
            <li class="collection-item asignacion_productos">
              <div class="row" *ngFor="let producto of productos">
                <div class="col s8">
                  <p class="collections-title">
                    <b>{{ '(' + producto.valor_producto + ')' }}&nbsp;&nbsp;</b>{{ producto.descripcion_producto }}</p>
                </div>
                <div class="col s4">
                  <input type="text" placeholder="Escribe aquí" [(ngModel)]="producto.valor" [ngModelOptions]="{standalone: true}" [disabled]="!modificacion">
                </div>
              </div>
              <div *ngIf="modificacion" class="row right-align">
                <div class="col s8"></div>
                <a class="btn light-green darken-1 waves-effect waves-light btn col s4"  (click)="modificarProduccion()">Modificar producción</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a *ngIf="seccion == 'add'" routerLink="../../produccion" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Regresar" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
        <a *ngIf="seccion == 'consulta'" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
          data-delay="50" data-tooltip="Regresar" (click)="back()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
      </div>
    </div>

  </div>
  <div class="container" *ngIf="!loading && !insertProduccion">
    <h4 class="color_titulo center-align">Registro de producción</h4>
    <p class="color_titulo center-align">Usted no puede registrar datos.
      <br>{{ mensaje }}</p>
    <div class="section"></div>
    <div class="center-align">
      <a *ngIf="seccion == 'add'" routerLink="../../produccion" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped"
        data-position="top" data-delay="50" data-tooltip="Regresar" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>


  <div class="container" *ngIf="loading">
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>