<div class="container">

  <div class="section"></div>
  <h4 class="color_titulo center-align">Reporte diario de producción JUDO A1 y A2</h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="../../lista-reportes" class="btn-floating  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top" data-delay="50"
      data-tooltip="Reportes" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->
  <div class="row">
      <div class="input-field col s6">
        <input id="inicio" type="text" class="active" data-value="inicio" />
        <label for="inicio">Inicio</label>
      </div>
  
      <div class="file-field input-field col s6">
        <a class="col s4 m4 l1 xl1 waves-effect waves-light btn right light-green lighten-1" (click)="busqueda()">
          <i class="material-icons">search</i>
        </a>
        <div class="file-path-wrapper">
          <input id="fin" type="text" class="active" data-value="fin">
          <label for="fin">Fin</label>
        </div>
      </div>
    </div>
  <table id="tabla" class="display" cellspacing="0" width="100%">
    <thead class="">
      <tr>
        <th class="center-align">Dia </th>
        <th class="center-align">Molido 1 </th>
        <th class="center-align">Molido 2 </th>
        <th class="center-align">Total molido </th>
        <th class="center-align">Acumulado </th>
        <th class="center-align">Plan Molido </th>
        <th class="center-align">Diferencia Molido </th>
        <th class="center-align">Eficiencia/dia </th>
        <th class="center-align">+/- vs meta M </th>
        <th class="center-align">Efic teorica </th>
        <th class="center-align">Hojuela A1 </th>
        <th class="center-align">Hojuela A2 </th>
        <th class="center-align">Total Hojuela </th>
        <th class="center-align">Acum. Hojuela </th>
        <th class="center-align">Plan Hojuela </th>
        <th class="center-align">Diferencia Hoj </th>
        <th class="center-align">Eficiencia/dia H </th>
        <th class="center-align">+/- vs meta H</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let registro of registros">
        <td class="center-align">{{registro.dia}}</td>
        <td class="center-align">{{registro.molido1}}</td>
        <td class="center-align">{{registro.molido2}}</td>
        <td class="center-align">{{registro.total_molido}}</td>
        <td class="center-align">{{registro.acumulado}}</td>
        <td class="center-align">{{registro.plan_molido}}</td>
        <td class="center-align">{{registro.diferencia_molido}}</td>
        <td class="center-align">{{registro.eficiencia_dia_molido}}</td>
        <td class="center-align">{{registro.mas_menos}}</td>
        <td class="center-align">{{registro.efciencia_teorica}}</td>
        <td class="center-align">{{registro.hojuela1}}</td>
        <td class="center-align">{{registro.hojuela2}}</td>
        <td class="center-align">{{registro.total_hojuela}}</td>
        <td class="center-align">{{registro.acumulado_hojuela}}</td>
        <td class="center-align">{{registro.plan_hojuela}}</td>
        <td class="center-align">{{registro.dif_hoj}}</td>
        <td class="center-align">{{registro.eficiencia_dia}}</td>
        <td class="center-align">{{registro.meta_h}}</td>
      </tr>
    </tbody>
  </table>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="../../lista-reportes" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Reportes" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>