<div class="row" *ngIf="!loading">
  <div class="col s12 m12 l12 xl12">
    <h4 class="center-align color_titulo">Registrar</h4>
  </div>
</div>

<app-formulario-ishikawa *ngIf="!loading" [preguntas]="preguntas" [emes]="emes" [fecha]="fecha" [etads]="etads" [grupos]="grupos" [action]="'registro'" (enviaModelo)="registro($event)"></app-formulario-ishikawa>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>