.carousel {
    height:  70vh;
} 

.texto.header{
    color: white;
}

.total{
    background-color:#7cb342;
    font-weight: bold;
    color: white;
}

.link_fecha{
    cursor:pointer;
    cursor: hand;
}
