<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <div class="col s12 m12 l8 xl8">
    <h5 class="color_titulo center-align"><b>USUARIOS ETAD</b></h5>
     <!-- Solo para dispositivos moviles -->
     <div class="hide-on-large-only right-align">
        <a routerLink="../sonarh" >Ir a usuarios SONARH</a>
     </div>
    <!-- Fin solo para dispositivos moviles -->
    <div class="section"></div>
    <div class="row">
      <table id="tabla_usuarios_etad" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="center-align">Num Empleado</th>
            <th class="center-align">Empleado</th>
            <th class="center-align">Grupo</th>
            <th class="center-align">Linea</th>
            <th class="center-align">Activo</th>
            <th class="center-align">Editar</th>
            <th class="center-align">Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of usuarios_etad" [class]="usuario.id_acceso">
            <td class="center-align">{{ usuario.usuario_sonarh }}</td>
            <td class="center-align">{{ usuario.nombre }}</td>
            <td class="center-align">{{ usuario.valor_grupo }}</td>
            <td class="center-align">{{ usuario.valor_linea }}</td>
            <td class="center-align">
              <div class="switch">
                <label>
                  No
                  <input type="checkbox" [checked]="usuario.activo == 1" (change)="openModalConfirmacion(usuario, 'activar', $event )">
                  <span class="lever"></span>
                  Si
                </label>
              </div>
            </td>
            <td  class="center-align">
              <a class="btn-floating light-green lighten-1"  [routerLink]="['../usuario-etad/' + usuario.id_acceso]"><i class="material-icons">edit</i></a>
            </td>
            <td class="center-align">
              <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(usuario,'eliminar')">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a routerLink="../sonarh" class="btn-floating btn-large  indigo darken-4 waves-effect waves-light tooltipped" data-position="top"
          data-delay="50" data-tooltip="Ir a usuarios SONARH" (click)="ocultarTooltip()">
          <i class="material-icons">
            <i class="material-icons">view_list</i>
          </i>
        </a>
      </div>
    </div>
    <!-- Fin solo para pantallas -->
</div>

<div class="container" *ngIf="loading">
  <div  id="loader-wrapper" >
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
</div>

