<ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background light-green darken-1">
         
        </div>
        <a href="#!user">
          <img class="circle" src="http://www.mejorafinanzas.com.mx/images/usuario.png">
        </a>
        <a href="#!name">
          <span class="white-text name">User Name</span>
        </a>
        <a href="#!email">
          <span class="white-text email">usuario.ejemplo@gmail.com</span>
        </a>
      </div>
    </li>
    <li>
      <a class="waves-effect" href="#!">
        <i class="material-icons">perm_identity</i>Perfil</a>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <a class="waves-effect" href="#!">
          <i class="material-icons">insert_chart</i>Graficas</a>
    </li>
    <li>
      <a class="waves-effect" href="#!">
          <i class="material-icons">library_books</i>Catalogos</a>
    </li>
    <li>
      <a class="waves-effect" href="#!">
        <i class="material-icons">cloud</i>Opción menu 3</a>
    </li>
    <li>
      <a class="waves-effect" href="#!">
        <i class="material-icons">power_settings_new</i>Cerrar sesión</a>
    </li>
   
  </ul>

