<div [@visibility]="status_tabla" *ngIf="!loading">
  <div class="section"></div>
  <h4 class="color_titulo center-align">Metas registradas</h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="nuevo" class="btn-floating btn light-green darken-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Agregar meta">
      <i class="material-icons">add</i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->
  <table id="tabla" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="center-align">Linea</th>
        <th class="center-align">Meta</th>
        <th class="center-align">Dia</th>
        <th class="center-align">Turno</th>
        <th class="center-align">Grupo</th>
        <th class="center-align">Valor</th>
        <th class="center-align">Medida</th>
        <th class="center-align">Activo</th>
        <th class="center-align">Asignar</th>
        <th class="center-align">Editar</th>
        <th class="center-align">Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let meta of metas">
        <td class="center-align">{{meta.descripcion_linea}}</td>
        <td class="center-align">{{meta.meta}}</td>
        <td class="center-align">{{meta.dia}}</td>
        <td class="center-align">{{meta.turno}}</td>
        <td class="center-align">{{meta.grupo}}</td>
        <td class="center-align">{{meta.valor}}</td>
        <td class="center-align">{{meta.tipo_medida}}</td>
        <td class="center-align">
          <div class="switch">
            <label>
              No
              <input type="checkbox">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td class="center-align">
          <a class="btn-floating light-green lighten-1" (click)="changeVisibility(meta)">
            <i class="material-icons">assignment_turned_in</i>
          </a>
        </td>
        <td class="center-align">
          <a class="btn-floating light-green lighten-1" [routerLink]="">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td class="center-align">
          <a [routerLink]="" class="btn-floating red lighten-2">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="nuevo" class="btn-floating btn-large light-green darken-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Agregar meta">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>

<div [@visibility]="status">
  <app-asginacion-metas [id_meta]="id_meta" [metaselected]="metaselected" [lineaselected]="lineaselected"></app-asginacion-metas>
</div>