<div class="container">

  <div class="col s12 m12 l12 xl12">

    <h4 class="color_titulo center-align">Asignación de Productos</h4>
    <div class="section"></div>

    <form class="col s12 m12 l12 xl12" [formGroup]="formAsignaProducto">
      <div class="row">
        <div class="col s12 m12 l3 xl3">
          <label for="dia">Día</label>
          <input id="dia" type="text" formControlName="dia" [(ngModel)]="asignacion_seleccionada.dia">
        </div>

        <div class="col s12 m12 l3 xl3">
          <label>Linea</label>
          <input id="linea" type="text" formControlName="linea" [(ngModel)]="asignacion_seleccionada.linea">
        </div>

        <div class="col s12 m12 l3 xl3">
          <label>Grupo</label>
          <input type="text" formControlName="grupo" [(ngModel)]="asignacion_seleccionada.grupo">
        </div>

        <div class="col s12 m12 l3 xl3">
          <label>Turno</label>
          <input type="text" formControlName="turno" [(ngModel)]="asignacion_seleccionada.turno">
        </div>
      </div>

      <div class="row">
        <table id="tabla" class="display asignacion_productos" cellspacing="0" width="100%" style="overflow-x:auto;">
          <thead>
            <tr>
              <th class="center-align">Producto</th>
              <th class="center-align">Valor en Kilogramos</th>
              <th class="center-align">Liberado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td class="center-align">{{ producto.producto }}</td>
              <td class="center-align">
                <input type="text" [(ngModel)]="producto.valor" [ngModelOptions]="{standalone: true}">
              </td>
              <td class="center-align" [style.color]="false ? 'red' : 'green'">
                <i class="material-icons">close</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <hr>
        <a class="btn grey lighten-1  waves-effect waves-light btn col s3 m3 l3 xl3" (click)="regresarLista($event)">Cancelar</a>
        <div class="col s1 m1 l1 xl1"></div>
        <a class=" btn light-green darken-1 waves-effect waves-light btn col s4 m4 l4 xl4" (click)="openModalConfirmacion('liberar')">Liberar</a>
        <div class="col s1 m1 l1 xl1"></div>
        <a class="btn light-green darken-1 waves-effect waves-light btn col s3 m3 l3 xl3" (click)="openModalConfirmacion('asignar')">Guardar</a>
      </div>
    </form>


  </div>

</div>