<div class="container" *ngIf="isCatalog">
  <div class="section"></div>
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 lx8">
      <div class="card-panel">
        <h5 class="color_titulo header2 center-align">Agregar a catalogo de {{ nombre_catalogo }}</h5>
        <div class="section"></div>
        <div class="row">
          <form class="col s12" [formGroup]="formCatalogs" (ngSubmit)="accion(itemCatalogo)" autocomplete="off">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Nombre" id="nombre" type="text" formControlName='descripcion' [(ngModel)]='descripcion'>
                <label for="nombre" class="active">Nombre</label>
                <div *ngIf="formCatalogs.controls.descripcion.errors?.required && (formCatalogs.controls.descripcion?.touched || submitted)"
                  class="error">
                  La descripción es requerida
                </div>
              </div>
            </div>

            <div class="row">
              <div class="row">
                <div class="input-field col  offset-m1 offset-l1 offset-xl1 s6 m4 l4 lx4">
                  <a [routerLink]="'../../../' + link_back" class="btn grey lighten-1 waves-effect waves-light right" name="action">Cancelar
                  </a>
                </div>
                <div class="input-field col offset-m2 offset-l2 offset-xl2 s6 m4 l4 lx4">
                  <button class="btn light-green lighten-1 waves-effect waves-light right" type="submit" name="action">Agregar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isCatalog">
  <div class="section"></div>
  <h3 class="color_titulo center-align">No existe el catalogo consultado</h3>
   <h6 class="center-align"><a routerLink="../../../../lista" >Volver a la lista de catalogos disponibles</a></h6>
</div>