<div class="row" *ngIf="!loading && isOk">
  <div class="section">
    <br>
  </div>

  <img src="assets/logo_color.png" class="centrado" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 0">

  <img src="assets/videowall_portada_oee.png" class="img_width centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 1">

  <img src="assets/videowall_amut1_oee.png" class="img_width centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 2">

  <img src="assets/videowall_amut2_oee.png" class="centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 11">

  <img src="assets/videowall_ext1_oee.png" class="centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 20">

  <img src="assets/videowall_ext2_oee.png" class="centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 28">

  <img src="assets/videowall_ssp_oee.png" class="centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 36">

  <img src="assets/videowall_portada_etad.png" class="img_width centrado" [@preloader]="status" (@preloader.done)="animationDone($event)"
    *ngIf="steep_index == 44">

  <!-- Inicio graficas para OEE -->
  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 3 || steep_index == 12  || steep_index == 21 || steep_index == 29 || steep_index == 37"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 4 || steep_index == 13 || steep_index == 22 || steep_index == 30 || steep_index == 38"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 5 || steep_index == 14 || steep_index == 23 || steep_index == 31 || steep_index == 39"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 6 || steep_index == 15 || steep_index == 24 || steep_index == 32 || steep_index == 40"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 7 || steep_index == 16 || steep_index == 25 || steep_index == 33  || steep_index == 41"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 8 || steep_index == 17 || steep_index == 26 || steep_index == 34  || steep_index == 42"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 9 || steep_index == 18 || steep_index == 27 || steep_index == 35  || steep_index == 43"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 10 || steep_index == 19"></div>

  <!-- Inicio graficas para ETAD -->
  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 45"></div>

  <div id="grafica" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 46"></div>

  <img [src]="imageEtadPresentation" class="img_width" [@preloader]="status" (@preloader.done)="animationDone($event)" *ngIf="steep_index == 47">

  <!-- template kpi -->
  <div class="col s12 m12 l12 xl12  center-align" *ngIf="steep_index > 47 && review" [@preloader]="status" (@preloader.done)="animationDone($event)">
    <ng-container *ngFor="let grafica of row; let j = index">
      <div class="col s12 m12 l4 xl4">
        <div class="card">
          <div class="card-content grey lighten-5">
            <div [id]="'grafica'+j" style="width:100%; height:200px;"></div>
          </div>
          <div class="card-action">
            <table class="highlight">
              <thead class="tabla_fuente">
                <tr>
                  <th></th>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                </tr>
              </thead>
              <tbody class="tabla_fuente">
                <tr class="">
                  <td>Logro</td>
                  <td>{{ grafica.series[0].data[0] }}</td>
                  <td>{{ grafica.series[0].data[1] }}</td>
                  <td>{{ grafica.series[0].data[2] }}</td>
                  <td>{{ grafica.series[0].data[3] }}</td>
                </tr>
                <tr class="">
                  <td>Meta</td>
                  <td>{{ grafica.series[1].data[0] }}</td>
                  <td>{{ grafica.series[1].data[1] }}</td>
                  <td>{{ grafica.series[1].data[2] }}</td>
                  <td>{{ grafica.series[1].data[3] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div id="formato" class="row" [@showingRpt]="statusRpt" (@showingRpt.done)="animationDoneRpt($event)" *ngIf="steep_index == -1">
    <div class="col s12 m12 l12 xl12">
      <app-formato-enlace [datos]="datos_formato" [consulta]="true"></app-formato-enlace>
    </div>
  </div>
</div>
<div class="options videowall fixed-action-btn" *ngIf="!loading && isOk" (mouseover)="optionsVideoWall('over')" (mouseleave)="optionsVideoWall('leave')">
  <div [hidden]="hidden_actions">
    <button [ngClass]="{'btn-floating btn-large waves-effect waves-light btn-control':true, 'red darken-4':play , 'green darken-4': !play }" (click)="actionVideoWall()" [disabled]="disabled_btn_play">
      <i class="material-icons" *ngIf="play">pause</i>
      <i class="material-icons" *ngIf="!play">play_arrow</i>
    </button>
    <button class="btn-floating btn-large waves-effect waves-light indigo darken-4" routerLink="../">
      <i class="material-icons">arrow_back</i>
    </button>
  </div>
</div>


<div class="container" *ngIf="!loading && !isOk">
  <div class="section"></div>
  <h4 class="color_titulo center-align">
    <b>Actualice los datos para reproducir la presentación</b>
  </h4>
  <div class="row center-align">
    <a routerLink="../">Actualizar ahora</a>
  </div>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>