#main_container {
    /*display: flex; */
    align-items: center;
    justify-content: center;
}

.img_width{
    width: calc(95%); 
    height: calc(98%);   
}

.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
