<div class="container" *ngIf="!loading && isCatalog">
  <h4 class="color_titulo center-align">Catalogo de {{ nombre_catalogo }}</h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a [routerLink]="['../'+ tipo_catalogo + '/formulario/nuevo']" class="btn-floating btn light-green darken-1 waves-effect waves-light tooltipped"
      data-position="top" data-delay="50" data-tooltip="Agregar" (click)="agregar()">
      <i class="material-icons">add</i>
    </a>

    <a routerLink="../../catalogos" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Catalogos" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->

  <!-- tabla para catalogos genericos -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'generico'">
    <thead>
      <tr>
        <th>Id</th>
        <th>Valor</th>
        <th>Descripción</th>
        <th>Activo</th>
        <th>Actualizar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id}}</td>
        <td>{{ item.valor}}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'generico' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../'+ tipo_catalogo + '/formulario/' + item.id]">
            <i class="material-icons">edit</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos genericos -->

  <!-- tabla para catalogos equipos -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'equipos'">
    <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Clave de equipo</th>
        <th width="45%">Descripción de equipo</th>
        <th width="15%">Activo</th>
        <th width="10%">Actualizar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id_equipos }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'equipos' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../'+ tipo_catalogo + '/formulario/' + item.id_equipos]">
            <i class="material-icons">edit</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos equipos -->

  <!-- tabla para catalogos productos  -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'productos'">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Linea</th>
        <th>Tipo de producto</th>
        <th>Activo</th>
        <th>Actualizar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id_producto }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.valor_linea }}</td>
        <td>{{ item.valor_tipo_producto }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'productos' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1"  [routerLink]="['../'+ tipo_catalogo + '/formulario/' + item.id_producto]" >
            <i class="material-icons">edit</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos productos -->

  <!-- tabla para catalogos razones  -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'razones'">
    <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Clave de equipo</th>
        <th width="45%">Descripción de equipo</th>
        <th width="15%">Activo</th>
        <th width="10%">Actualizar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id_equipos }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'equipos' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../formulario/'+ tipo_catalogo + '/' + item.id_equipos]">
            <i class="material-icons">edit</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos razones -->

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a [routerLink]="['../'+ tipo_catalogo + '/formulario/nuevo']" class="btn-floating btn-large light-green darken-1 waves-effect waves-light tooltipped"
        data-position="top" data-delay="50" data-tooltip="Agregar" (click)="agregar()">
        <i class="material-icons">add</i>
      </a>
      <a routerLink="../../catalogos" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Catalogos" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas -->
</div>
<!-- Muestra si el catalogo no existe-->
<div class="container" *ngIf="!loading && !isCatalog">
  <div class="section"></div>
  <h3 class="color_titulo center-align">No existe el catalogo consultado</h3>
  <h6 class="center-align">
    <a routerLink="../../lista">Volver a la lista de catalogos disponibles</a>
  </h6>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>