<div *ngIf="!loading">
  <div class="container">
    <!-- Solo para dispositivos moviles -->
    <div class="hide-on-large-only right-align">
      <br>
      <a routerLink="../../lista-reportes" class="btn-floating  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Reportes" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
    <!-- Fin solo para dispositivos moviles -->
    <h4 class="color_titulo center-align">Reporte de disponibilidad</h4>
    <div class="section"></div>
    <div class="row">
      <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="busqueda(parametrosBusqueda)" autocomplete="off">
        <div class="input-field col s12 m12 l3 xl3">
          <select class="anio" materialize="material_select" [materializeSelectOptions]="anios" formControlName="anio" [(ngModel)]="parametrosBusqueda.anio"
            (ngModelChange)="changeCombo('anio')">
            <option value="">SELECCIONE</option>
            <option *ngFor="let anio of anios" [value]="anio.valor">{{anio.valor}}</option>
          </select>
          <label for="anio">año</label>
          <div *ngIf="formConsultaPeriodo.controls.anio.errors?.required && (formConsultaPeriodo.controls.anio?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l3 xl3">
          <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="parametrosBusqueda.idPeriodo"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
          </select>
          <label for="mes">mes</label>
          <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l5 xl5">
          <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="idLinea" [(ngModel)]="parametrosBusqueda.idLinea"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{linea.descripcion}}</option>
          </select>
          <label for="linea">Linea</label>
          <div *ngIf="formConsultaPeriodo.controls.idLinea.errors?.required && (formConsultaPeriodo.controls.idLinea?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l1 xl1">
          <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
            <i class="material-icons">search</i>
          </button>
          <label></label>
        </div>
      </form>
    </div>

    <!-- Inicio solo para pantallas-->
    <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a routerLink="../../lista-reportes" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Reportes" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
      </div>
    </div>
    <!-- Fin solo para pantallas-->
  </div>
  <div class="section"></div>
  <div *ngIf="viewReport">
    <div class="carousel carousel-slider center">
      <div class="carousel-item white" href="#one!">
        <div class="container">
          <div id="divGrafica" style="width:100%; height:400px;"></div>         
        </div>
      </div>
    </div>
    <div class="container center">
      <a href="#" (click)="verTablas($event)">{{ texto_link }}</a>
      <div class="section"></div>
      <div class="row" *ngIf="ver_tabla && seccion == 0">
        <div class="col s12 m12 l6 xl6">
          <table id="tblReporte">
            <tr class="light-green darken-1 texto header">
              <th>Tiempo</th>
              <th class="center-align">Hrs</th>
              <th class="center-align">%</th>
            </tr>

            <tr *ngFor="let row of rows" [ngClass]="{'total':row.padre == 1}">

              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.titulo }}</td>
                <td class="center-align">{{ row.hrs | formatDecimal: 2  }}</td>
                <td class="center-align">{{ row.porcentaje }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.titulo }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.hrs | formatDecimal: 2  }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.porcentaje | formatDecimal: 2  }}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
        </div>
        <div class="col s12 m12 l6 xl6">
          <table id="tblReporteProduccion">
            <tr class="light-green darken-1 texto header">
              <th colspan="2">Datos Producción</th>
            </tr>
            <tr *ngFor="let row of rowsProduccion" [ngClass]="{'total':row.padre == 1}">
              <ng-template [ngIf]="row.padre == 0">
                <td>{{ row.titulo }}</td>
                <td class="center-align">{{ row.hrs  | formatDecimal: 3  }}</td>
              </ng-template>
              <ng-template [ngIf]="row.padre == 2">
                <td class="right-align">
                  <b>{{ row.titulo }}</b>
                </td>
                <td class="center-align">
                  <b>{{ row.hrs  }}</b>
                </td>
              </ng-template>
            </tr>
          </table>
          <br>
        </div>
      </div>
      <div class="row center-align" *ngIf="ver_tabla && seccion == 0">
        <a class="waves-effect waves-light btn light-green lighten-1" (click)="exportarExcel()">EXPORTAR A EXCEL</a>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>