<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <h4 class="color_titulo center-align">Edición de metas
    <a class="tooltipped" href="" data-position="top" data-delay="50" data-tooltip="Cambiar tipo" (click)="openModalTipoMeta($event)">{{ tipoMetaSeleccionada | minuscula }}</a>
  </h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="../../opciones" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Opciones ETAD" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
  </div>
  <!-- fin Solo para dispositivos moviles -->

  <div class="row">
    <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="consultaPeriodo()" autocomplete="off">
      <div class="input-field col s12 m12 l3 xl3">
        <select class="frecuencias" materialize="material_select" [materializeSelectOptions]="frecuencias" formControlName="frecuencia"
          [(ngModel)]="frecuencia" (ngModelChange)="changeCombo('frecuencia')">
          <option value="">SELECCIONE</option>
          <option *ngFor="let frecuencia of frecuencias" [value]="frecuencia.value">{{frecuencia.descripcion}}</option>
        </select>
        <label for="frecuencias">Frecuencia</label>
        <div *ngIf="formConsultaPeriodo.controls.frecuencia.errors?.required && (formConsultaPeriodo.controls.frecuencia?.touched || submitted)"
          class="error">
          Seleccione
        </div>
      </div>
      <div class="input-field col s12 m12 l2 xl2">
        <select class="anios" materialize="material_select" [materializeSelectOptions]="anios" formControlName="anioSeleccionado"
          [(ngModel)]="anioSeleccionado" (ngModelChange)="changeCombo('anio')">
          <option value="">SELECCIONE</option>
          <option *ngFor="let anio of anios" [value]="anio.value">{{anio.descripcion}}</option>
        </select>
        <label for="anios">Año</label>
        <div *ngIf="formConsultaPeriodo.controls.anioSeleccionado.errors?.required && (formConsultaPeriodo.controls.anioSeleccionado?.touched || submitted)"
          class="error">
          Seleccione
        </div>
      </div>
      <div class="input-field col s12 m12 l3 xl3">
        <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="idPeriodo"
          (ngModelChange)="changeCombo()">
          <option value="">SELECCIONE</option>
          <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
        </select>
        <label for="mes">mes</label>
        <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
          class="error">
          Seleccione
        </div>
      </div>
      <div class="input-field col s12 m12 l3 xl3">
        <select materialize="material_select" [materializeSelectOptions]="etads" formControlName="idEtad" [(ngModel)]="idEtad" (ngModelChange)="changeCombo()">
          <option value="">SELECCIONE</option>
          <option *ngFor="let linea of etads" [value]="linea.id_linea">{{linea.descripcion}}</option>
        </select>
        <label for="etad">Etad</label>
        <div *ngIf="formConsultaPeriodo.controls.idEtad.errors?.required && (formConsultaPeriodo.controls.idEtad?.touched || submitted)"
          class="error">
          Seleccione
        </div>
      </div>
      <div class="input-field col s12 m12 l1 xl1">
        <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
          <i class="material-icons">search</i>
        </button>
        <label></label>
      </div>
    </form>
  </div>
  <div class="row scroll_ejex_tabla_reporte" *ngIf="datos_tabla">
    <ng-template [ngIf]="tipoMetaSeleccionada == 'ESTRATEGICAS'">
      <table id="tabla" class="display striped" cellspacing="0" width="100%" style="overflow-x:auto;" [@visibility]="status">
        <thead>
          <tr>
            <th class="center-align">Meta</th>
            <th class="center-align">Valor</th>
            <th class="center-align">Unidad Medida</th>
            <th class="center-align" *ngIf="permission.editarMeta">Editar</th>
            <th class="center-align" *ngIf="permission.eliminarMeta">Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="metas.length == 0 ">
            <th colspan="5" class="center">No hay registros</th>
          </tr>
          <tr *ngFor="let meta of metas;let i = index">
            <td class="center-align">{{meta.metaEstrategica.valor}}</td>
            <!-- <td class="center-align">{{meta.valor |formatDecimal : 3}}</td> -->
            <td class="center-align"><input [id]="'text'+i" type="text" [value]="meta.valor |formatDecimal : 3" size="5" disabled></td>
            <td class="center-align">{{meta.metaEstrategica.unidad_medida }}</td>
            <td class="center-align" *ngIf="permission.editarMeta">
              <a class="btn-floating light-green lighten-1" (click)="changeIcono($event)">
                <i [id]="i" class="material-icons">edit</i>
              </a>
            </td>
            <td class="center-align" *ngIf="permission.eliminarMeta">
              <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(meta,'eliminar')">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="../../opciones" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Opciones ETAD" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>