<div class="container">

  <div class="col s12 m12 l12 xl12">
    <h4 class="color_titulo center-align">Detalle de producción</h4>
    <div class="section"></div>
    <!-- Solo para dispositivos moviles -->

    <div class="hide-on-large-only right-align">
      <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Regresar" (click)="regresar()">
        Regresar
      </a>
    </div>
    <br>

    <!-- Fin solo para dispositivos moviles -->
    <form class="col s12 m12 l12 xl12" autocomplete="off">
      <fieldset>
        <legend class="color_titulo">
          <b>Datos de producción:</b>
        </legend>
        <div class="section"></div>
        <div class="row">
          <div class="input-field col s12 m12 l3 xl3">
            <select class="opciones">
              <option value="" selected>Seleccione</option>
              <option value="1">AMUT1</option>
              <option value="1">TODOS</option>
            </select>
            <label>Linea</label>
          </div>
          <div class="input-field col s12 m12 l3 xl3">
            <select>
              <option value="" selected>Seleccione</option>
              <option value="1">A</option>
              <option value="1">B</option>
              <option value="1">C</option>
              <option value="1">D</option>
              <option value="1">TODOS</option>
            </select>
            <label>Grupo</label>
          </div>
          <div class="input-field col s12 m12 l3 xl3">
            <select class="opciones">
              <option value="" selected>Seleccione</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="1">TODOS</option>
            </select>
            <label>Turno</label>
          </div>
          <div class="input-field col s12 m12 l3 xl3">
            <label for="dia" class="active">Día de registro</label>
            <input id="dia" type="text">
          </div>
        </div>
      </fieldset>
    </form>
    <div class="section"></div>
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <ul id="issues-collection" class="collection">
          <li class="collection-item light-green lighten-5">
            <span class="collection-header">
              <b>Productos. </b> Ingrese el valor obtenido</span>
          </li>
          <li class="collection-item">
            <div class="row" *ngFor="let producto of productos">
              <div class="col s8">
                <p class="collections-title">
                  <b>{{ '(' + producto.valor + ')' }}&nbsp;&nbsp;</b>{{ producto.descripcion }}</p>
              </div>
              <div class="col s4">
                <input type="text" placeholder="Escribe aquí">
              </div>
            </div>
            <div class="row right-align">
              <div class="col s8"></div>
              <a class="btn light-green darken-1 waves-effect waves-light btn col s4" (click)="modalQuestionFails()">Modificar valores</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- solo para pantallas -->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top" data-delay="50"
        data-tooltip="Regresar" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
      <a class="btn-floating btn-large light-green darken-1  waves-effect waves-light tooltipped" data-position="top" data-delay="50"
        data-tooltip="Validar" (click)="validar()">

        <i class="material-icons">done</i>

      </a>
    </div>
  </div>
  <!-- fin solo pantallas -->
  <!-- Solo para dispositivos moviles -->

  <div class="hide-on-large-only center-align">
    <a class="btn-floating light-green darken-1  waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Validar producción"
      (click)="validar()">
      <i class="material-icons">done</i>
    </a>
  </div>
  <br>
  <!-- Fin solo para dispositivos moviles -->

</div>