<div class="container" *ngIf="!loading && !usuario_en_etad && existe_user">
  <div class="section"></div>
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 lx8">
      <div class="card-panel">
        <h5 class="color_titulo header2 center-align">DETALLE DE USUARIO SONARH</h5>
        <div class="section"></div>
        <div class="row">
          <form class="col s12 m12 l12 xl12" [formGroup]="formPerfilSonarh" autocomplete="off" (ngSubmit)="modalConfirmacion(usuario)">
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="nombre" type="text" formControlName="nombre" [value]="usuario.Nombre +' '+ usuario.Paterno + ' ' + usuario.Materno">
                <label for="nombre" class="active">Nombre</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l6 xl6">
                <input id="usuario_nomina" type="text" formControlName="NumEmpleado"  [value]="usuario.NumEmpleado">
                <label for="usuario_nomina" class="active">Usuario(nomina)</label>
              </div>
              <div class="input-field col s12 m12 l6 xl6">
                <input [value]="usuario.Area" id="Area" type="text"  formControlName="Area" >
                <label for="Area" class="active">Area</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Grupo</label>
                <select materialize="material_select" formControlName="id_grupo" [materializeSelectOptions]="id_grupo" [(ngModel)]="usuario.id_grupo">
                  <option value="">Seleccione</option>
                  <option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.valor}}</option>
                </select>
                <div *ngIf="formPerfilSonarh.controls.id_grupo.errors?.required && (formPerfilSonarh.controls.id_grupo?.touched || submitted)"
                  class="error">
                  Seleccione grupo
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Asigna Linea</label>
                <select materialize="material_select" formControlName="id_linea" [materializeSelectOptions]="lineas" [(ngModel)]="usuario.id_linea">
                  <option value="" selected>SELECCIONE</option>
                  <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{linea.valor}}</option>
                </select>
                <div *ngIf="formPerfilSonarh.controls.id_linea.errors?.required && (formPerfilSonarh.controls.id_linea?.touched || submitted)"
                  class="error">
                  Seleccione una linea
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Asigna perfil para ETAD</label>
                <select materialize="material_select" formControlName="id_perfiles" [materializeSelectOptions]="id_perfiles" [(ngModel)]="usuario.id_perfiles" multiple>
                  <option value="" disabled>SELECCIONE</option>
                  <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{perfil.valor}}</option>
                </select>
                <div *ngIf="formPerfilSonarh.controls.id_perfiles.errors?.required && (formPerfilSonarh.controls.id_perfiles?.touched || submitted)"
                  class="error">
                  Seleccione perfiles
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="input-field col  offset-m1 offset-l1 offset-xl1 s6 m4 l4 lx4">
                  <a routerLink="../../sonarh" class="btn grey lighten-1 waves-effect waves-light right" name="action">Cancelar
                  </a>
                </div>
                <div class="input-field col offset-m2 offset-l2 offset-xl2 s6 m4 l4 lx4">
                  <button type="submit" class="btn light-green lighten-1 waves-effect waves-light right" name="action">Dar de alta
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>

<div class="container" *ngIf="!loading && usuario_en_etad">
  <div class="section"></div>
  <h5 class="color_titulo center-align">USUARIO YA ESTA DADO DE ALTA EN ETAD</h5>
  <h6 class="center-align">
    <a routerLink="../../sonarh">Volver a usuarios en SONARH</a>
  </h6>
</div>

<div class="container" *ngIf="!loading && !usuario_en_etad && !existe_user">
  <div class="section"></div>
  <h5 class="color_titulo center-align">EL USUARIO NO EXISTE EN SONARH</h5>
  <h6 class="center-align">
    <a routerLink="../../sonarh">Volver a usuarios disponibles en SONARH</a>
  </h6>
</div>