<div class="container">
  <div class="section"></div>
  <h4 class="color_titulo center-align">CUA</h4>
  <div *ngIf="perfil == 3">
    <ul class="collapsible collection with-header" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">flag</i>Metas</div>
        <div class="collapsible-body light-green lighten-5">
          <div class="row">
            <div class="col s12 m12 l12 xl12">
              <!-- Vista solo para moviles  -->
              <div class="hide-on-large-only">
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="metas-asignaciones" class=" col s4 m4 l4 xl4  waves-effect waves-light btn light-green darken-1" (click)="ocultarTooltip()">
                  <i class="mdi-content-add tooltipped" data-position="top" data-delay="50" data-tooltip="Ver">
                    MANUAL
                  </i>
                </a>
                <div class="col s2 m2 l2 xl2"></div>
                <a routerLink="metas-carga-masiva" class="col s4 m4 l4 xl4 waves-effect waves-light btn light-green darken-1" (click)="ocultarTooltip()">
                  <i class="mdi-content-add tooltipped" data-position="top" data-delay="50" data-tooltip="Ver">
                    MASIVA
                  </i>
                </a>
              </div>
              <!-- Fin solo para moviles -->
              <!-- Inicio solo para pantallas-->
              <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="metas-asignaciones" class="col s4 m4 l4 xl4 waves-effect waves-light btn light-green lighten-2">
                  CARGA MANUAL
                </a>
                <div class="col s2 m2 l2 xl2"></div>
                <a routerLink="metas-carga-masiva" class="col s4 m4 l4 xl4 waves-effect waves-light btn light-green lighten-2">
                  CARGA MASIVA
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">multiline_chart</i>Registro de indicadores</div>
        <div class="collapsible-body light-green lighten-5">
          <div class="row">
            <div class="col s12 m12 l12 xl12">
              <!-- Vista solo para moviles  -->
              <div class="hide-on-large-only">
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="produccion" class=" col s4 m4 l4 xl4  waves-effect waves-light btn light-green darken-1" (click)="ocultarTooltip()">
                  <i class="mdi-content-add tooltipped" data-position="top" data-delay="50" data-tooltip="Ir">
                    PRODUCCION
                  </i>
                </a>
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="fallas" class=" col s4 m4 l4 xl4  waves-effect waves-light btn light-green darken-1" (click)="ocultarTooltip()">
                  <i class="mdi-content-add tooltipped" data-position="top" data-delay="50" data-tooltip="Ir">
                    FALLAS
                  </i>
                </a>
              </div>
              <!-- Fin solo para moviles -->
              <!-- Inicio solo para pantallas-->
              <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="produccion" class="col s4 m4 l4 xl4 waves-effect waves-light btn light-green lighten-2">
                  PRODUCCION
                </a>
                <div class="col s1 m1 l1 xl1"></div>
                <a routerLink="fallas" class="col s4 m4 l4 xl4 waves-effect waves-light btn light-green lighten-2">
                  FALLAS
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header" routerLink="lista-reportes">
          <i class="material-icons">insert_chart</i>Reportes y gráficas
        </div>
      </li>
      <li>
        <div class="collapsible-header" routerLink="catalogos">
          <i class="material-icons">library_books</i>Catalogos
        </div>
      </li>
    </ul>
  </div>

  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only center-align">
    <a routerLink="/home" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Ir a home" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">home</i>
      </i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="/home" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Ir a home" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">home</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->

</div>