<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 xl8">
      <div class="card-panel">
        <h4 class="color_titulo center-align">ALTA DE METAS</h4>
        <div class="row">
          <form class="col s12 m12 l12 xl12">
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Línea</label>
                <select materialize="material_select">
                  <option value="-1">Seleccione una opción...</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="meta" type="text">
                <label for="meta">Meta</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="medida" type="text">
                <label for="medida">Medida</label>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="input-field col  offset-m1 offset-l1 offset-xl1 s6 m4 l4 lx4">
                  <a routerLink="../../metas" class="btn grey lighten-1 waves-effect waves-light right" name="action">Cancelar
                  </a>
                </div>
                <div class="input-field col offset-m2 offset-l2 offset-xl2 s6 m4 l4 lx4">
                  <button class="btn light-green lighten-1 waves-effect waves-light right" type="submit" name="action"> {{ seccion == 'add' ? 'Agregar' : 'Guardar cambio'}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>