<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <h4 class="color_titulo center-align">Asignaciones de productos</h4>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a routerLink="../../opciones" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">arrow_back</i>
      </i>
    </a>
    <a routerLink="nuevo" class="btn-floating btn light-green darken-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Agregar asignación" (click)="agregar()">
      <i class="material-icons">add</i>
    </a>
  </div>
  <!-- fin Solo para dispositivos moviles -->
  <div class="row">
    <div class="col s1 m1 l2 xl2"></div>
    <div class="input-field col s10 m10 l8 xl8">
      <div class="center-align">
        <input id="anio" class="datepicker" type="text">
        <label for="anio">Año</label>
      </div>
    </div>
  </div>

  <table id="tabla" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="center-align">Linea</th>
        <th class="center-align">Día</th>
        <th class="center-align">Turno</th>
        <th class="center-align">Grupo</th>
        <th class="center-align">Valor</th>
        <th class="center-align">Liberar</th>
        <th class="center-align">Editar</th>
        <th class="center-align">Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let asignacion of asignaciones">
        <td class="center-align">{{asignacion.linea}}</td>
        <td class="center-align">{{asignacion.dia}}</td>
        <td class="center-align">{{asignacion.turno}}</td>
        <td class="center-align">{{asignacion.grupo}}</td>
        <td class="center-align">{{asignacion.valor }} T</td>
        <td class="center-align">
          <a class="btn-floating light-green lighten-1" [routerLink]="asignacion.id_pro_meta">
            <i class="material-icons">done</i>
          </a>
        </td>
        <td class="center-align">
          <a class="btn-floating light-green lighten-1" [routerLink]="asignacion.id_pro_meta">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td class="center-align">
          <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(asignacion,'eliminar')">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="../../opciones" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
      <a routerLink="nuevo" class="btn-floating btn-large light-green darken-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Agregar asignación" (click)="agregar()">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>