<div class="container" *ngIf="!loading">
  <div class="section"></div>
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 lx8">
      <div class="card-panel">
        <h5 class="color_titulo header2 center-align">
          <b>MI PERFIL</b>
        </h5>
        <div class="section"></div>
        <div class="row">
          <form class="col s12 m12 l12 xl12">
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input disabled id="nombre" type="text" [value]="usuario?.nombre">
                <label for="nombre" class="active">Nombre</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input disabled id="usuario_nomina" type="text" [value]="usuario?.usuario_sonarh">
                <label for="usuario_nomina" class="active">Usuario(nomina)</label>
              </div>
            </div>
            <div class="row">
              <label>Linea</label>
              <select materialize="material_select" [materializeSelectOptions]="usuario?.id_linea" disabled>
                <option *ngFor="let linea of lineas" [value]="linea.id_linea"  [selected]="linea.id_linea == usuario?.id_linea">{{linea.valor}}</option>
              </select>
            </div>
            <div class="row">
              <label>Grupo</label>
              <select materialize="material_select" disabled>
                <option *ngFor="let grupo of grupos" [value]="grupo.id" [selected]="grupo.id == usuario?.id_grupo">{{grupo.valor}}</option>
              </select>
            </div>
            <div class="row">
              <label>Perfil</label>
              <input type="text"  [value]="descripcion_perfiles" disabled>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only center-align">
    <a routerLink="/home" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Ir a home" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">home</i>
      </i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a routerLink="/home" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Ir a home" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">home</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas-->
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>