<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="input-field col s12 m12 l3 xl3">
      <input id="fecha" name="fecha" [value]="ishikawa.fecha_string" type="text" disabled>
      <label for="fecha" class="active">Fecha de análisis</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <input id="nombre_etad" name="nombre_etad" type="text"  [(ngModel)]="ishikawa.nombre_etad" [ngModelOptions]="{standalone: true}">
      <label for="nombre_etad" class="active">Nombre Etad</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <select materialize="material_select" [materializeSelectOptions]="grupos" [(ngModel)]="ishikawa.id_grupo">
        <option value="">SELECCIONE</option>
        <option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.valor}}</option>
      </select>
      <label for="grupo">Grupo</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <select materialize="material_select" [materializeSelectOptions]="etads" [(ngModel)]="ishikawa.id_etad">
        <option value="">SELECCIONE</option>
        <option *ngFor="let etad of etads" [value]="etad.id">{{etad.valor}}</option>
      </select>
      <label for="etad">Area Etad</label>
    </div>
  </div>
</div>
<div class="row" id="formulario_ishikawa">
  <div class="col s12 m12 l12 xl12">
    <ul class="stepper linear">
      <li class="step active">
        <div class="step-title waves-effect">Defina el problema contestando las siguientes preguntas</div>
        <div class="step-content">
          <div class="row">
            <div class="col s12 m12 l12 xl12">
              <div class="col s12 m12 l6 xl6">
                <div class="input-field col s12 m12 l12 xl12">
                  <input name="pregunta" type="text" [(ngModel)]="ishikawa.que" [ngModelOptions]="{standalone: true}">
                  <label for="pregunta">¿ Qué situación se presenta ?</label>
                </div>
                <div class="input-field col s12 m12 l12 xl12">
                  <input name="pregunta" type="text" [(ngModel)]="ishikawa.donde" [ngModelOptions]="{standalone: true}">
                  <label for="pregunta">¿ Dónde se presenta la situación ?</label>
                </div>
                <div class="input-field col s12 m12 l12 xl12">
                  <input name="pregunta" type="text" [(ngModel)]="ishikawa.cuando" [ngModelOptions]="{standalone: true}">
                  <label for="pregunta">¿ Cuándo se presenta ?</label>
                </div>
                <div class="input-field col s12 m12 l12 xl12">
                  <input id="ss" name="pregunta" type="text" [(ngModel)]="ishikawa.como" [ngModelOptions]="{standalone: true}">
                  <label for="pregunta">¿ Cómo afecta la situación ?</label>
                </div>
              </div>
              <div class="col s12 m12 l6 xl6">
                <div class="input-field col s12 m12 l12 xl12">
                  <textarea id="definicion" class="materialize-textarea" [(ngModel)]="ishikawa.problema" [ngModelOptions]="{standalone: true}"></textarea>
                  <label for="definicion">Define el enunciado del problema</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l6 xl6">
              <div class="step-actions">
                <button type="button" class="waves-effect waves-dark blue darken-1 btn" (click)="validar(1)">CONTINUAR</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Genere una lluvia de ideas</div>
        <div class="step-content">
          <div class="row">
            <div class="col s12 m12 l12 xl12">
              <ul>
                <li>* Haga clic en el icono
                  <b>+</b> para agregar ideas en la opción que corresponda</li>
                <li>* Si desea
                  <b>editar</b> o
                  <b> eliminar</b> haga clic sobre la idea</li>
                <li>* Haga clic en la casilla para seleccionar la idea y poder agregar los 5 ¿Por que? en el siguiente paso</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 l12 xl12">
              <ul class="collection">
                <li class="collection-item avatar" *ngFor="let eme of emes">
                  <i class="material-icons circle teal lighten-2">M</i>
                  <span class="title">{{ eme.valor }}</span>
                  <ng-container *ngFor="let idea of getIdeasByEme(eme.id); let i = index">
                    <p>
                      <input type="checkbox" [id]="eme.id + '' + i" (click)="cambioEstatus($event, idea)" [checked]="isChecked(idea)" />
                      <label [for]="eme.id + '' + i">
                        <a href="#" (click)="openModalIdea($event, eme ,'edit', i ,idea)">
                          {{ idea.idea }}
                        </a>
                      </label>
                    </p>
                  </ng-container>
                  <a href="#" class="secondary-content" (click)="openModalIdea($event,eme, 'add' , i)">
                    <i class="material-icons">add</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="step-actions">
            <button type="button" class="waves-effect waves-dark blue darken-1 btn" (click)="validar(2)">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Utilice los 5 ¿Por qué? En cada una de sus causas secundarias seleccionadas previamente</div>
        <div class="step-content">
          <div class="row" *ngFor="let eme of emes">
            <ng-container *ngIf="getIdeasByEmeSelected(eme.id).length > 0">
              <h6 class="font_color">
                <b>{{ eme.valor }}</b>
              </h6>
              <hr>
              <div class="row">
                <ul id="issues-collection" class="collection z-depth-1" *ngFor="let idea of getIdeasByEmeSelected(eme.id); let i = index">
                  <li class="collection-item avatar">
                    <h6 class="collection-header">
                      <i class="material-icons teal lighten-2 circle cursor">help_outline</i>
                      <b>Causa secundaria </b>
                      <p>{{ idea.idea }}</p>
                    </h6>
                  </li>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s12 m12 l4 xl4">
                        <div class="collections-title">
                          <div class="input-field col s12 m12 l12 xl12">
                            <input id="porque_uno" type="text" [(ngModel)]="idea.porques.porque_uno" [ngModelOptions]="{standalone: true}">
                            <label for="porque_uno">1. ¿Por que?</label>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m12 l4 xl4">
                        <div class="input-field col s12 m12 l12 xl12">
                          <input id="porque_dos" type="text" [(ngModel)]="idea.porques.porque_dos" [ngModelOptions]="{standalone: true}">
                          <label for="porque_dos">2. ¿Por que?</label>
                        </div>
                      </div>
                      <div class="col s12 m12 l4 xl4">
                        <div class="input-field col s12 m12 l12 xl12">
                          <input id="porque_tres" type="text" [(ngModel)]="idea.porques.porque_tres" [ngModelOptions]="{standalone: true}">
                          <label for="porque_tres">3. ¿Por que?</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m12 l4 xl4">
                        <div class="collections-title">
                          <div class="input-field col s12 m12 l12 xl12">
                            <input id="porque_cuatro" type="text" [(ngModel)]="idea.porques.porque_cuatro" [ngModelOptions]="{standalone: true}">
                            <label for="porque_cuatro">4. ¿Por que?</label>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m12 l4 xl4">
                        <div class="input-field col s12 m12 l12 xl12">
                          <input id="porque_cinco" type="text" [(ngModel)]="idea.porques.porque_cinco" [ngModelOptions]="{standalone: true}">
                          <label for="porque_cinco">5. ¿Por que?</label>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="idea.control_error == 2">
                      <div class="col s12 m12 l12 xl12">
                        <p class="error">
                          <b>Favor de respetar la secuencia de los porques</b>
                        </p>
                      </div>
                    </div>
                    <div class="row" *ngIf="idea.control_error == 1">
                      <div class="col s12 m12 l12 xl12">
                        <p class="error">
                          <b>Favor de ingresar al menos el primer porque</b>
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn  blue darken-1" (click)="validar(3)">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Diagrama de ishikawa</div>
        <div class="step-content">
          <div class="step-actions">
            <button type="button" class="waves-effect waves-light btn" (click)="generateDiagrama()">
              <i class="material-icons left">cloud</i>VER DIAGRAMA</button>
            <button class="waves-effect waves-dark  blue darken-1 btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Realice el consenso para definir la causa raíz</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
              <textarea id="causa_raiz" class="materialize-textarea" [(ngModel)]="ishikawa.causa_raiz" [ngModelOptions]="{standalone: true}"></textarea>
              <label for="causa_raiz">Describe la causa raíz</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark  blue darken-1 btn" (click)="validar(5)">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Contesta el test de causa raíz</div>
        <div class="step-content">
          <div class="row">
            <div class="col s12 m12 l12 xl12 scroll_ejex_tabla_reporte">
              <table>
                <thead>
                  <tr>
                    <th>Test de Causa Raíz</th>
                    <th>Si</th>
                    <th>No</th>
                  </tr>
                </thead>

                <tbody *ngFor="let pregunta of preguntas; let i = index">
                  <tr>
                    <td>{{ pregunta.valor}}</td>
                    <td>
                      <p>
                        <input type="checkbox" [id]="i + '1_q'" (click)="checkedQuestion($event,'1', pregunta.id)" [checked]="isCheckedQuestionTest(pregunta.id, ishikawa.listConsenso, 1)"
                        />
                        <label [for]="i+'1_q'"></label>
                      </p>
                    </td>
                    <td>
                      <p>
                        <input type="checkbox" [id]="i+'2_q'" (click)="checkedQuestion($event,'2', pregunta.id)" [checked]="isCheckedQuestionTest(pregunta.id, ishikawa.listConsenso, 0)"
                        />
                        <label [for]="i+'2_q'"></label>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark  blue darken-1 btn" (click)="validar(6)">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Visualicé la tabla guia APDT y genere plan de acción</div>
        <div class="step-content">
          <div class="row">
            <table border="1" class="bordered">
              <thead>
                <tr>
                  <th colspan="8" class="center-align">
                    <b>{{ ishikawa.problema }}</b>
                  </th>
                </tr>
                <tr class="head_table">
                  <th>Causa Primaria</th>
                  <th>Causa Secundaria</th>
                  <th>Causa Terciaria</th>
                  <th>Causa Cuaternaria</th>
                  <th>Causa Quinitaria</th>
                  <th>Acción Correctiva</th>
                  <th>Responsable</th>
                  <th>Fecha</th>
                </tr>
              </thead>

              <tbody id="cuerpoTabla">

                <ng-container *ngFor="let eme of getEmesPresentesIdeas(ishikawa.listIdeas);">
                  <ng-container *ngIf="getIdeasByEmeSelected(eme.id).length > 0">

                    <tr *ngFor="let idea of getIdeasByEmeSelected(eme.id); let i = index">
                      <td>{{ eme.valor }}</td>
                      <td>{{ idea.idea }}</td>
                      <td>{{ idea.porques.porque_uno }}</td>
                      <td>{{ idea.porques.porque_dos }}</td>
                      <td>{{ idea.porques.porque_tres }}</td>
                      <td>
                        <input type="text" [(ngModel)]="idea.porques.planAccion.accion" [ngModelOptions]="{standalone: true}" placeholder="Escriba aquí">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="idea.porques.planAccion.responsable" [ngModelOptions]="{standalone: true}" placeholder="Escriba aquí">
                      </td>
                      <td>
                        <input type="text" [id]="eme.id+','+i" class="datepicker" [(ngModel)]="idea.porques.planAccion.fecha_string" [ngModelOptions]="{standalone: true}">
                      </td>
                    </tr>

                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark blue darken-1 btn" type="button" (click)="validar(7)">REGISTRAR ISHIKAWA</button>
            <button class="waves-effect waves-dark btn-flat previous-step">REGRESAR</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="modalCaptura" class="modal" style="width: calc(50%)">
  <div class="modal-content">
    <div class="row col s12 m12 l12 xl12">
      <div class="col s12 m12 l12 xl12">
        <h6 class="color_titulo center-align" id="titulo"></h6>
      </div>
      <div class="input-field col s12 m12 l12 xl12">
        <input id="idea_eme" type="text" [(ngModel)]="tmp_idea.idea" [ngModelOptions]="{standalone: true}">
        <label for="idea_eme">Escriba aquí su idea</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 xl12 btn-add">
        <div class="col s12 m12 l1 xl1"></div>
        <button class="col s12 m12 l4 xl4 waves-effect waves-light btn grey darken-1" (click)="cancelar()">CANCELAR</button>
        <div class="col s12 m12 l2 xl2">
          <br>
        </div>
        <button class="col s12 m12 l4 xl4 waves-effect waves-light btn blue darken-1" (click)="agregarIdea()">AÑADIR</button>
        <div class="col s12 m12 l1 xl1"></div>
      </div>
      <div class="col s12 m12 l12 xl12 btn-edit">
        <div class="col s12 m12 l1 xl1"></div>
        <button class="col s12 m12 l2 xl2 waves-effect waves-light btn red darken-1" (click)="eliminarIdea()">ELIMINAR</button>
        <div class="col s12 m12 l1 xl1">
          <br>
        </div>
        <button class="col s12 m12 l2 xl2 waves-effect waves-light btn blue darken-1" (click)="editarIdea()">EDITAR</button>
        <div class="col s12 m12 l1 xl1">
          <br>
        </div>
        <button class="col s12 m12 l4 xl4 waves-effect waves-light btn grey darken-1" (click)="cancelarEdit()">CANCELAR</button>
        <div class="col s12 m12 l1 xl1"></div>
      </div>
    </div>
  </div>
</div>
<div id="modalDiagrama" class="modal" style="width: calc(90%)">
  <div class="modal-content">
  </div>
</div>