<div class="row">
  <div class="col s12 m12 l12 xl12">
    <h4 class="center-align color_titulo">Registrar</h4>
    <p class="color_titulo">
      <b>INSTRUCCIONES</b>. Capture los datos que se le piden y haga clic en CONTINUAR para ir avanzando</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <div class="input-field col s12 m12 l3 xl3">
      <input id="fecha" name="fecha" type="text">
      <label for="fecha" class="active">Fecha de análisis</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <input id="nombre_etad" name="nombre_etad" type="text">
      <label for="nombre_etad" class="active">Nombre Etad</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <select class="grupo" materialize="material_select">
        <option value="">SELECCIONE</option>
      </select>
      <label for="grupo">Grupo</label>
    </div>
    <div class="input-field col s12 m12 l3 xl3">
      <select class="area" materialize="material_select">
        <option value="">SELECCIONE</option>
      </select>
      <label for="area">Área</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <ul class="stepper linear">
      <li class="step active">
        <div class="step-title waves-effect">Define el problema</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate" required>
              <label for="first_name">Your e-mail</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Genere una lluvia de ideas</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Realice diagrama de ishikawa</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Utilice los 5 ¿Por qué? En cada una de sus causas secundarias</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Realice el consenso para definir la causa raíz</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Contesta el test de causa raíz</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect">Genere plan de acción</div>
        <div class="step-content">
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate" required>
              <label for="password">Your password</label>
            </div>
          </div>
          <div class="step-actions">
            <button class="waves-effect waves-dark btn" type="submit">SUBMIT</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>