.inline-icon {
    display: inline-flex;
    vertical-align: middle;
}

.cursor{
    cursor:pointer; 
    cursor: hand
}

.font_color{
    color: #0d47a1;
}

hr {
    border: 0; 
    height: 12px; 
    box-shadow: inset 0 12px 12px -12px #0d47a1;
}

.head_table{
    background-color: #1e88e5;
    color: white; 
}

ul.stepper:not(.horizontal) .step.active::before, ul.stepper:not(.horizontal) .step.done::before, ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
    background-color: #558b2f !important;
 }

.preguntas {
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}

td > p{
    margin: 0px;
}