<div class="container" *ngIf="isCatalog">
  <h3 class="color_titulo center-align">Catalogo de {{ nombre_catalogo }}</h3>
  <!-- Solo para dispositivos moviles -->
  <div class="hide-on-large-only right-align">
    <a [routerLink]="['../formulario/'+ tipo_catalogo + '/nuevo']" class="btn-floating btn light-green darken-1 waves-effect waves-light tooltipped"
      data-position="top" data-delay="50" data-tooltip="Agregar" (click)="agregar()">
      <i class="material-icons">add</i>
    </a>

    <a routerLink="../../lista" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
      data-delay="50" data-tooltip="Ver catalogos" (click)="regresar()">
      <i class="material-icons">
        <i class="material-icons">view_list</i>
      </i>
    </a>
  </div>
  <!-- Fin solo para dispositivos moviles -->

  <!-- tabla para catalogos genericos -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'generico'">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id}}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'generico' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../formulario/'+ tipo_catalogo + '/' + item.id]">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td>
          <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(item,'eliminar','generico')">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos genericos -->

  <!-- tabla para catalogos lineas -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'lineas'">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Grupo Linea</th>
        <th>Activo</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id_linea}}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.descripcion_gpo_linea }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'lineas' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../formulario/'+ tipo_catalogo + '/' + item.id]">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td>
          <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(item,'eliminar','lineas')">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos lineas -->

  <!-- tabla para catalogos equipos -->
  <table class="display" class="striped" cellspacing="0" id="itemsCatalogos" *ngIf="type_Catalogo == 'equipos_amut'">
    <thead>
      <tr>
        <th>Id</th>
        <th>Clave de equipo</th>
        <th>Nombre de equipo</th>
        <th>Activo</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id_equipo_amut}}</td>
        <td>{{ item.clave_equipo }}</td>
        <td>{{ item.nombre_equipo }}</td>
        <td>
          <div class="switch">
            <label>
              No
              <input type="checkbox" [checked]="item.activo == 1" (change)="openModalConfirmacion(item, 'activar', 'equipos_amut' ,$event )">
              <span class="lever"></span>
              Si
            </label>
          </div>
        </td>
        <td>
          <a class="btn-floating  light-green lighten-1" [routerLink]="['../formulario/'+ tipo_catalogo + '/' + item.id]">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td>
          <a class="btn-floating red lighten-2" (click)="openModalConfirmacion(item,'eliminar','equipos_amut')">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Fin tabla para catalogos equipos -->

  <!-- Inicio solo para pantallas-->
  <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a [routerLink]="['../formulario/'+ tipo_catalogo + '/nuevo']" class="btn-floating btn-large light-green darken-1 waves-effect waves-light tooltipped"
        data-position="top" data-delay="50" data-tooltip="Agregar" (click)="agregar()">
        <i class="material-icons">add</i>
      </a>
      <a routerLink="../../lista" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Ver catalogos" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">view_list</i>
        </i>
      </a>
    </div>
  </div>
  <!-- Fin solo para pantallas -->
</div>
<!-- Muestra si el catalogo no existe-->
<div class="container" *ngIf="!isCatalog">
  <div class="section"></div>
  <h3 class="color_titulo center-align">No existe el catalogo consultado</h3>
  <h6 class="center-align">
    <a routerLink="../../lista">Volver a la lista de catalogos disponibles</a>
  </h6>
</div>