<!--PRODUCTOS-->
<div class="container">
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 xl8">
      <div class="card-panel">
        <h5 class="color_titulo center-align">Alta De Productos</h5>
        <div class="row">
          <form class="col s12 m12 l12 xl12">
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Línea</label>
                <select materialize="material_select">
                  <option value="-1">Seleccione una opción...</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="producto" type="text">
                <label for="producto">Producto</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="medida" type="text">
                <label for="medida">Medida</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s1 offset-m3 offset-l2 offset-xl3">
                <button class="col btn grey lighten-1  waves-effect waves-light" type="submit" name="agregar">Cancelar
                </button>
              </div>

              <div class="input-field col offset-m1 offset-l1 offset-xl2">
                <button class="col btn light-green darken-1 waves-effect waves-light" type="submit" name="agregar">Registrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>