<!--PRODUCTOS-->
<div class="container" *ngIf="!loading && seccion!='invalid'">
  <div class="row">
    <div class="col offset-l2 offset-xl2 s12 m12 l8 xl8">
      <div class="card-panel">
        <h4 class="color_titulo center-align">{{ seccion == 'add'? ' Agregar ' : ' Actualizar '}} Productos</h4>
        <div class="row">
          <form class="col s12 m12 l12 xl12" [formGroup]="formProducto" (ngSubmit)="openModalConfirmacion(producto, seccion)">
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <label>Línea</label>
                <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="id_linea" [(ngModel)]="producto.id_linea">
                  <option value="">Seleccione</option>
                  <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{ linea.descripcion }}</option>
                </select>
                <div *ngIf="formProducto.controls.id_linea.errors?.required && (formProducto.controls.id_linea?.touched || submitted)" class="error">
                  Seleccione una linea
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="producto" type="text" formControlName="producto" [(ngModel)]="producto.producto">
                <label for="producto">Producto</label>
                <div *ngIf="formProducto.controls.producto.errors?.required && (formProducto.controls.producto?.touched || submitted)"
                  class="error">
                  Se requiere nombre del producto
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 xl12">
                <input id="tipo_medida" type="text" formControlName="tipo_medida" [(ngModel)]="producto.tipo_medida">
                <label for="tipo_medida">Medida</label>
                <div *ngIf="formProducto.controls.tipo_medida.errors?.required && (formProducto.controls.tipo_medida?.touched || submitted)" class="error">
                  Se requiere medida
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s1 offset-m3 offset-l2 offset-xl3">
                <a routerLink="../../productos" class="btn grey lighten-1 waves-effect waves-light right" name="action">{{ texto_btn }}
                </a>
              </div>

              <div class="input-field col offset-m1 offset-l1 offset-xl2">
                <button class="col btn light-green darken-1 waves-effect waves-light" type="submit" name="agregar">Registrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>

<div class="container" *ngIf="!loading && seccion == 'invalid'">
  <h3 class="color_titulo center-align">Elemento no encontrado</h3>
  <h6 class="center-align">
    <a routerLink="../../productos">Volver a productos disponibles </a>
  </h6>
</div>