<nav>
  <div class="nav-wrapper light-green darken-1">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
      <i class="material-icons" style="font-size:32px">menu</i>
    </a>
    <a href="#" class="brand-logo center" target="_blank">
      <img class="responsive-img" src="assets/logo_blanco.png">
    </a>
    <ul class="right">
      <li>
        <a href="#" target="_blank">Sistema v1.0.0</a>
      </li>
    </ul>
  </div>
</nav>

<app-menu></app-menu>
<router-outlet></router-outlet>

