<div class="container" *ngIf="!loading">
  <div [hidden]="noMostrarComponentValidacion">
    <div class="section"></div>
    <!-- Solo para dispositivos moviles -->
    <div class="hide-on-large-only right-align">
      <a routerLink="../../opciones" class="btn-floating btn  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
      <a *ngIf="permission.agregarProduccion" class="btn-floating indigo darken-4  waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Ayuda" (click)="help($event)">
        <i class="material-icons">help</i>
      </a>
      <a *ngIf="showBtnRegistrar && permission.agregarProduccion" routerLink="nuevo" class="btn-floating btn light-green darken-1 waves-effect waves-light tooltipped"
        data-position="top" data-delay="50" data-tooltip="Agregar producción" (click)="agregar()">
        <i class="material-icons">add</i>
      </a>
    </div>
    <!-- fin Solo para dispositivos moviles -->

    <!-- Inicio vista para mostrar producciones registradas -->

    <h4 class="color_titulo center-align">Producción
      <a class="tooltipped" href="" data-position="top" data-delay="50" data-tooltip="Cambiar año" (click)="openModalYear($event)">{{ anioSeleccionado }}</a>
    </h4>
    <div class="row">
      <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="consultaPeriodo()" autocomplete="off">
        <div class="input-field col s12 m12 l6 xl6">
          <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="idPeriodo"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
          </select>
          <label for="mes">mes</label>
          <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l5 xl5">
          <ng-template [ngIf]="verGrupo">
            <select materialize="material_select" [materializeSelectOptions]="lineas" formControlName="idLinea" [(ngModel)]="idLinea"
              (ngModelChange)="changeCombo()">
              <option value="">SELECCIONE</option>
              <option *ngFor="let linea of lineas" [value]="linea.id_linea">{{linea.descripcion}}</option>
            </select>
            <label for="linea">Linea</label>
            <div *ngIf="formConsultaPeriodo.controls.idLinea.errors?.required && (formConsultaPeriodo.controls.idLinea?.touched || submitted)"
              class="error">
              Seleccione una opcion
            </div>
          </ng-template>
          <ng-template [ngIf]="!verGrupo">
              <select materialize="material_select" [materializeSelectOptions]="gruposLineas" formControlName="idGpoLinea" [(ngModel)]="idGpoLinea"
                (ngModelChange)="changeCombo()">
                <option value="">SELECCIONE</option>
                <option *ngFor="let grupo of gruposLineas" [value]="grupo.id">{{grupo.valor}}</option>
              </select>
              <label for="grupo">Grupo Linea</label>
              <div *ngIf="formConsultaPeriodo.controls.idGpoLinea.errors?.required && (formConsultaPeriodo.controls.idGpoLinea?.touched || submitted)"
                class="error">
                Seleccione una opcion
              </div>
            </ng-template>
        </div>
        <div class="input-field col s12 m12 l1 xl1">
          <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
            <i class="material-icons">search</i>
          </button>
          <label></label>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="!estatusPeriodo">
      <div class="color_titulo center-align">
        <span class="waves-effect">
          <i class="material-icons left">lock</i>Periodo cerrado</span>
      </div>
    </div>
    <div class="row" *ngIf="datos_tabla">
      <table id="tabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="center-align">Día</th>
            <th class="center-align">Linea</th>
            <th class="center-align">Turno</th>
            <th class="center-align">Grupo</th>
            <th class="center-align">Liberado</th>
            <th class="center-align">Ver Producción</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let produccion of producciones">
            <td class="center-align">{{produccion.diaString}}</td>
            <td class="center-align">{{produccion.valor_linea}}</td>
            <td class="center-align">{{produccion.valor_turno}}</td>
            <td class="center-align">{{produccion.valor_grupo}}</td>
            <td class="center-align">
              <i *ngIf="produccion.estatus == 0" class="material-icons">hourglass_full</i>
              <i *ngIf="produccion.estatus == 1" class="material-icons">done</i>
            </td>
            <td class="center-align">
              <a class="btn-floating light-green lighten-1" (click)="verProduccion(produccion.id_meta)">
                <i class="material-icons">description</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="producciones.length > 0">
        <div class="section"></div>

        <div class="col s112 m12 l6 xl6 valign-wrapper">
          <i class="material-icons">hourglass_full</i> Esperando validación de Facilitador
          <br>
        </div>
        <div class="col s112 m12 l6 xl6 valign-wrapper">
          <i class="material-icons">done</i> Validado por Facilitador
        </div>

      </div>

      <!-- Fin vista para mostrar producciones registradas -->
    </div>
    <!-- Inicio solo para pantallas-->
    <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a routerLink="../../opciones" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
          data-delay="50" data-tooltip="Opciones CUA" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
        <a *ngIf="permission.agregarProduccion" class="btn-floating btn-large  indigo darken-4  waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Ayuda" (click)="help($event)">
          <i class="material-icons">help</i>
        </a>
        <a *ngIf="showBtnRegistrar && permission.agregarProduccion" routerLink="nuevo" class="btn-floating btn-large light-green darken-1 waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Agregar producción" (click)="agregar()">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
    <!-- Fin solo para pantallas-->
  </div>
</div>
<div *ngIf="noMostrarComponentValidacion">
  <app-formulario-produccion (accion)="verProduccion()" [seccion]="seccion" [idMeta]="idMetaSeleccionada"></app-formulario-produccion>
</div>

<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>