<div *ngIf="!loading">
  <div class="container">
    <h4 class="color_titulo center-align">Reporte diario de producción</h4>
    <!-- Solo para dispositivos moviles -->
    <br>
    <div class="hide-on-large-only right-align">
      <a routerLink="../../lista-reportes" class="btn-floating  indigo lighten-1 waves-effect waves-light tooltipped" data-position="top"
        data-delay="50" data-tooltip="Reportes" (click)="regresar()">
        <i class="material-icons">
          <i class="material-icons">arrow_back</i>
        </i>
      </a>
    </div>
    <!-- Fin solo para dispositivos moviles -->
    <div class="section"></div>
    <div class="row">
      <form class="col s12 m12 l12 xl12" [formGroup]="formConsultaPeriodo" (ngSubmit)="busqueda(parametrosBusqueda)" autocomplete="off">
        <div class="input-field col s12 m12 l3 xl3">
          <select class="anio" materialize="material_select" [materializeSelectOptions]="anios" formControlName="anio" [(ngModel)]="parametrosBusqueda.anio"
            (ngModelChange)="changeCombo('anio')">
            <option value="">SELECCIONE</option>
            <option *ngFor="let anio of anios" [value]="anio.valor">{{anio.valor}}</option>
          </select>
          <label for="anio">año</label>
          <div *ngIf="formConsultaPeriodo.controls.anio.errors?.required && (formConsultaPeriodo.controls.anio?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l3 xl3">
          <select class="mes" materialize="material_select" [materializeSelectOptions]="meses" formControlName="idPeriodo" [(ngModel)]="parametrosBusqueda.idPeriodo"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let mes of meses" [value]="mes.id_periodo">{{mes.descripcion_mes}}</option>
          </select>
          <label for="mes">mes</label>
          <div *ngIf="formConsultaPeriodo.controls.idPeriodo.errors?.required && (formConsultaPeriodo.controls.idPeriodo?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l5 xl5">
          <select materialize="material_select" [materializeSelectOptions]="gruposLineas" formControlName="idGpoLinea" [(ngModel)]="parametrosBusqueda.idGpoLinea"
            (ngModelChange)="changeCombo()">
            <option value="">SELECCIONE</option>
            <option *ngFor="let grupo of gruposLineas" [value]="grupo.id">{{grupo.valor}}</option>
          </select>
          <label for="gpoLinea">Grupo de Linea</label>
          <div *ngIf="formConsultaPeriodo.controls.idGpoLinea.errors?.required && (formConsultaPeriodo.controls.idGpoLinea?.touched || submitted)"
            class="error">
            Seleccione una opcion
          </div>
        </div>
        <div class="input-field col s12 m12 l1 xl1">
          <button type="submit" class="col s12 m12 l12 xl12 waves-effect waves-light btn right light-green lighten-1" [disabled]="disabled">
            <i class="material-icons">search</i>
          </button>
          <label></label>
        </div>
      </form>
    </div>
    <div class="section"></div>
    <div class="row scroll_ejex_tabla_reporte"  *ngIf="viewReport">
      <table id="tblReporte" cellspacing="0" *ngIf="this.parametrosBusqueda.idGpoLinea != 2">
        <tr *ngFor="let row of rows" [ngClass]="{'total':row.padre == 1}">
          <ng-template [ngIf]="row.padre == 1">
            <th class="center-align">{{ row.dia }}</th>
            <th class="center-align">{{ row.molido1 }}</th>
            <th class="center-align">{{ row.molido2 }}</th>
            <th class="center-align">{{ row.totalMolido }}</th>
            <th class="center-align">{{ row.acumulado }}</th>
            <th class="center-align">{{ row.metaMolido }}</th>
            <th class="center-align">{{ row.difMolido }}</th>
            <th class="center-align">{{ row.eficiencia }}</th>
            <th class="center-align">{{ row.vsMetaM }}</th>
            <th class="center-align">{{ row.eficTeorica }}</th>
            <th class="center-align">{{ row.hojuela1 }}</th>
            <th class="center-align">{{ row.hojuela2 }}</th>
            <th class="center-align">{{ row.totalHoj }}</th>
            <th class="center-align">{{ row.acumHoju }}</th>
            <th class="center-align">{{ row.planHoju }}</th>
            <th class="center-align">{{ row.difeHoju }}</th>
            <th class="center-align">{{ row.eficiDia }}</th>
            <th class="center-align">{{ row.vsMetaH }}</th>
          </ng-template>
          <ng-template [ngIf]="row.padre == 0">
            <td class="center-align">{{ row.dia }}</td>
            <td class="center-align">{{ ( row.molido1 | formatDecimal:3 ) | milles }}</td>
            <td class="center-align">{{ ( row.molido2 | formatDecimal:3 )  | milles }}</td>
            <td class="center-align">{{ ( row.totalMolido | formatDecimal:3 )  | milles  }}</td>
            <td class="center-align">{{ ( row.acumulado | formatDecimal:3 )  | milles }}</td>
            <td class="center-align">{{ ( row.metaMolido | formatDecimal:3 )  | milles }}</td>
            <td class="center-align">{{ ( row.difMolido | formatDecimal:3 )  | milles }}</td>
            <td class="center-align">{{ (( row.eficiencia | formatDecimal:3 )  | milles )+  '%' }}</td>
            <td class="center-align">{{ (( row.vsMetaM | formatDecimal:3 )| milles ) +  '%'  }}</td>
            <td class="center-align">{{ (( row.eficTeorica | formatDecimal:3 )| milles ) + '%'  }}</td>
            <td class="center-align">{{ ( row.hojuela1 | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ ( row.hojuela2 | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ ( row.totalHoj | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ ( row.acumHoju | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ ( row.planHoju | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ ( row.difeHoju | formatDecimal:3 )| milles }}</td>
            <td class="center-align">{{ (( row.eficiDia | formatDecimal:3 )| milles ) +  '%' }}</td>
            <td class="center-align">{{ (( row.vsMetaH  | formatDecimal:3 )| milles ) +  '%' }}</td>
          </ng-template>
          <ng-template [ngIf]="row.padre == 2">
            <td class="right-align"><b>{{ row.dia }}</b></td>
            <td class="center-align"><b>{{ (row.molido1 | formatDecimal:3 ) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.molido2 | formatDecimal:3 ) | milles  }}</b></td>
            <td class="center-align"><b>{{ (row.totalMolido | formatDecimal:3 ) | milles  }}</b></td>
            <td class="center-align"><b>{{ (row.acumulado | formatDecimal:3 ) | milles  }}</b></td>
            <td class="center-align"><b>{{ (row.metaMolido | formatDecimal:3 ) | milles  }}</b></td>
            <td class="center-align"><b>{{ (row.difMolido | formatDecimal:3 ) | milles  }}</b></td>
            <td class="center-align"><b>{{ ((row.eficiencia | formatDecimal:3 )| milles )  +  '%' }}</b></td>
            <td class="center-align"><b>{{ ((row.vsMetaM | formatDecimal:3 )| milles )  +  '%' }}</b></td>
            <td class="center-align"><b>{{ ((row.eficTeorica | formatDecimal:3 )| milles )  +  '%' }}</b></td>
            <td class="center-align"><b>{{ (row.hojuela1 | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ (row.hojuela2 | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ (row.totalHoj | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ (row.acumHoju | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ (row.planHoju | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ (row.difeHoju | formatDecimal:3 )| milles }}</b></td>
            <td class="center-align"><b>{{ ((row.eficiDia | formatDecimal:3 )| milles )  +  '%' }}</b></td>
            <td class="center-align"><b>{{ ((row.vsMetaH | formatDecimal:3 )| milles )  +  '%' }}</b></td>
          </ng-template>
        </tr>
      </table>
      <table id="tblReporte" cellspacing="0" *ngIf="this.parametrosBusqueda.idGpoLinea == 2">
        <tr *ngFor="let row of rows" [ngClass]="{'total':row.padre == 1}">
          <ng-template [ngIf]="row.padre == 1">
            <th class="center-align">{{ row.dia }}</th>
            <th class="center-align">{{ row.resina }}</th>
            <th class="center-align">{{ row.resina004 }}</th>
            <th class="center-align">{{ row.acumulado }}</th>
            <th class="center-align">{{ row.planResina }}</th>
            <th class="center-align">{{ row.diferencia }}</th>
            <th class="center-align">{{ row.eficiencia }}</th>
            <th class="center-align">{{ row.vsMetaM }}</th>
            <th class="center-align">{{ row.ext1 }}</th>
            <th class="center-align">{{ row.ext2 }}</th>
            <th class="center-align">{{ row.totalAmo }}</th>
            <th class="center-align">{{ row.acumAmo }}</th>
            <th class="center-align">{{ row.planExt }}</th>
            <th class="center-align">{{ row.difeAmo }}</th>
            <th class="center-align">{{ row.eficiDia }}</th>
            <th class="center-align">{{ row.vsMetaE }}</th>
            <th class="center-align">{{ row.hojuelaSS }}</th>
            <th class="center-align">{{ row.plastas }}</th>
            <th class="center-align">{{ row.pellet }}</th>
            <th class="center-align">{{ row.EficMat }}</th>
          </ng-template>
          <ng-template [ngIf]="row.padre == 0">
            <td class="center-align">{{ row.dia }}</td>
            <td class="center-align">{{ (row.resina | formatDecimal: 3) | milles }}</td>
            <td class="center-align">{{ (row.resina004 | formatDecimal: 3) | milles }}</td>
            <td class="center-align">{{ (row.acumulado | formatDecimal: 3) | milles }}</td>
            <td class="center-align">{{ (row.planResina | formatDecimal: 3) | milles }}</td>
            <td class="center-align">{{ (row.diferencia | formatDecimal: 3) | milles }}</td>
            <td class="center-align">{{ (row.eficiencia) + '%' }}</td>
            <td class="center-align">{{ (row.vsMetaM) + '%' }}</td>
            <td class="center-align">{{ (row.ext1 | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.ext2 | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.totalAmo | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.acumAmo | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.planExt | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.difeAmo | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.eficiDia) + '%' }}</td>
            <td class="center-align">{{ (row.vsMetaE) + '%' }}</td>
            <td class="center-align">{{ (row.hojuelaSS | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.plastas | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.pellet | formatDecimal: 3 )  | milles}}</td>
            <td class="center-align">{{ (row.EficMat) + '%' }}</td>
          </ng-template>
          <ng-template [ngIf]="row.padre == 2">
            <td class="center-align"><b>{{ row.dia }}</b></td>
            <td class="center-align"><b>{{ (row.resina | formatDecimal: 3) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.resina004 | formatDecimal: 3) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.acumulado | formatDecimal: 3) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.planResina | formatDecimal: 3) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.diferencia | formatDecimal: 3) | milles }}</b></td>
            <td class="center-align"><b>{{ (row.eficiencia) + '%' }}</b></td>
            <td class="center-align"><b>{{ (row.vsMetaM) + '%' }}</b></td>
            <td class="center-align"><b>{{ (row.ext1 | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.ext2 | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.totalAmo | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.acumAmo | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.planExt | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.difeAmo | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.eficiDia) + '%' }}</b></td>
            <td class="center-align"><b>{{ (row.vsMetaE) + '%' }}</b></td>
            <td class="center-align"><b>{{ (row.hojuelaSS | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.plastas | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.pellet | formatDecimal: 3 )  | milles}}</b></td>
            <td class="center-align"><b>{{ (row.EficMat) + '%' }}</b></td>
          </ng-template>
        </tr>
      </table>

    </div>
    <div *ngIf="viewReport" class="row center-align">
        <a class="waves-effect waves-light btn light-green darken-1" (click)="exportarExcel()">EXPORTAR A EXCEL</a>
    </div>
    <!-- Inicio solo para pantallas-->
    <div class="hide-on-small-only hide-on-med-only hide-on-med-and-down">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a routerLink="../../lista-reportes" class="btn-floating btn-large  indigo lighten-1 waves-effect waves-light tooltipped"
          data-position="top" data-delay="50" data-tooltip="Reportes" (click)="regresar()">
          <i class="material-icons">
            <i class="material-icons">arrow_back</i>
          </i>
        </a>
      </div>
    </div>
    <!-- Fin solo para pantallas-->
  </div>
</div>
<div class="container" *ngIf="loading">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</div>