<div class="container" *ngIf="!loading && isCatalog && seccion!='invalid'">
    <div class="section"></div>
    <!-- Seccion de formulario para catalogos con estructura generica  -->
    <div class="row" *ngIf="type_Catalogo == 'gpos-lineas' || type_Catalogo == 'etad-kpis' ">
        <div class="col offset-l2 offset-xl2 s12 m12 l8 lx8">
            <div class="card-panel">
                <h5 class="color_titulo header2 center-align">{{ seccion == 'add'? ' Agregar a ' : ' Actualizar en'}} {{ nombre_catalogo }}</h5>
                <div class="section"></div>
                <div class="row">
                    <form class="col s12" [formGroup]="formCatalogs" (ngSubmit)="openModalConfirmacion(itemCatalogo, seccion, type_Catalogo)"
                        autocomplete="off">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Grupo de línea" id="valor" type="text" formControlName='valor' [(ngModel)]='itemCatalogo.valor'>
                                <label for="valor" class="active">Grupo de línea</label>
                                <div *ngIf="formCatalogs.controls.valor.errors?.required && (formCatalogs.controls.valor?.touched || submitted)" class="error">
                                    El campo es requerido
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Descripción" id="descripcion" type="text" formControlName='descripcion' [(ngModel)]='itemCatalogo.descripcion'>
                                <label for="descripcion" class="active">Descripción</label>
                                <div *ngIf="formCatalogs.controls.descripcion.errors?.required && (formCatalogs.controls.descripcion?.touched || submitted)"
                                    class="error">
                                    La descripción es requerida
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="type_Catalogo == 'gpos-lineas' && seccion == 'edit' && id==4">
                                <p class="advertencia center-align">Este grupo de línea es de solo consulta y no puede ser modificado. Es utilizado en el registro de
                                    usuarios del sistema teniedo en cuenta que existen empleados que no pertenecen a líneas</p>
                            </div>
                            <div class="row">
                                <div class="input-field col  offset-m1 offset-l1 offset-xl1 s6 m4 l4 lx4">
                                    <a [routerLink]="'../../../' + link_back" class="btn grey lighten-1 waves-effect waves-light right" name="action">{{ texto_btn }}
                                    </a>
                                </div>
                                <div class="input-field col offset-m2 offset-l2 offset-xl2 s6 m4 l4 lx4">
                                    <button class="btn light-green lighten-1 waves-effect waves-light right" type="submit" name="action" [disabled]="type_Catalogo == 'gpos-lineas' && seccion == 'edit' && id==4"> {{ seccion == 'add' ? 'Agregar' : 'Guardar cambio'}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de seccion de formulario para catalogos con estructura generica  -->
    <!-- Seccion de formulario para catalogos de lineas  -->
    <div class="row" *ngIf="type_Catalogo == 'lineas'">
        <div class="col offset-l2 offset-xl2 s12 m12 l8 lx8">
            <div class="card-panel">
                <h5 class="color_titulo header2 center-align">{{ seccion == 'add'? ' Agregar a ' : ' Actualizar en'}} {{ nombre_catalogo }}</h5>
                <div class="section"></div>
                <div class="row">
                    <form class="col s12" [formGroup]="formCatalogs" (ngSubmit)="openModalConfirmacion(itemCatalogo, seccion, type_Catalogo)"
                        autocomplete="off">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Nombre de Línea" id="valor" type="text" formControlName='valor' [(ngModel)]='itemCatalogo.valor'>
                                <label for="valor" class="active">Nombre de línea</label>
                                <div *ngIf="formCatalogs.controls.valor.errors?.required && (formCatalogs.controls.valor?.touched || submitted)" class="error">
                                    El campo es requerido
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select class="grupo" materialize="material_select" [materializeSelectOptions]="grupos" formControlName="idGrupoLinea" [(ngModel)]="itemCatalogo.id_gpo_linea">
                                    <option value="">SELECCIONE</option>
                                    <option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.valor}}</option>
                                </select>
                                <label for="grupo">Grupo de línea al que pertenece</label>
                                <div *ngIf="formCatalogs.controls.idGrupoLinea.errors?.required && (formCatalogs.controls.idGrupoLinea?.touched || submitted)"
                                    class="error">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select class="etad" materialize="material_select" [materializeSelectOptions]="etads" formControlName="idEtad" [(ngModel)]="itemCatalogo.id_etad">
                                    <option value="">SELECCIONE</option>
                                    <option *ngFor="let etad of etads" [value]="etad.id">{{etad.valor}}</option>
                                </select>
                                <label for="etad">Etad en el que participa</label>
                                <div *ngIf="formCatalogs.controls.idEtad.errors?.required && (formCatalogs.controls.idEtad?.touched || submitted)" class="error">
                                    Seleccione una opcion
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Descripción" id="descripcion" type="text" formControlName='descripcion' [(ngModel)]='itemCatalogo.descripcion'>
                                <label for="descripcion" class="active">Descripción</label>
                                <div *ngIf="formCatalogs.controls.descripcion.errors?.required && (formCatalogs.controls.descripcion?.touched || submitted)"
                                    class="error">
                                    La descripción es requerida
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="seccion == 'edit' && id==6">
                                <p class="advertencia center-align">Esta linea es de solo consulta y no puede ser modificada. Es utilizada en el registro de
                                    usuarios del sistema teniedo en cuenta que existen empleados que no pertenecen a líneas</p>
                            </div>
                            <div class="row">
                                <div class="input-field col  offset-m1 offset-l1 offset-xl1 s6 m4 l4 lx4">
                                    <a [routerLink]="'../../../' + link_back" class="btn grey lighten-1 waves-effect waves-light right" name="action">{{ texto_btn }}
                                    </a>
                                </div>
                                <div class="input-field col offset-m2 offset-l2 offset-xl2 s6 m4 l4 lx4">
                                    <button class="btn light-green lighten-1 waves-effect waves-light right" type="submit" name="action" [disabled]="seccion == 'edit' && id==6">
                                    {{ seccion == 'add' ? 'Agregar' : 'Guardar cambio'}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de seccion de formulario para catalogos de lineas  -->
</div>

<div class="container" *ngIf="loading">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>

<div class="container" *ngIf="!loading && !isCatalog && seccion!='invalid'">
    <div class="section"></div>
    <h3 class="color_titulo center-align">No existe el catalogo consultado</h3>
    <h6 class="center-align">
        <a routerLink="../../../../catalogos-generales">Volver a la lista de catalogos disponibles</a>
    </h6>
</div>

<div class="container" *ngIf="!loading && seccion =='invalid'">
    <h3 class="color_titulo center-align">Elemento no encontrado</h3>
    <h6 class="center-align">
        <a [routerLink]="['../../../'+link_back]">Volver a elementos disponibles en {{nombre_catalogo}} </a>
    </h6>
</div>